<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>커뮤니티</title>
    <link href="/css/community/postList.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="main" class="page-body">

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12" style="padding-bottom: 0; !important;">
                    <h2 class="heading-section mb-4">커뮤니티</h2>

                    <!-- 카테고리 버튼과 검색 버튼을 양쪽 끝에 배열 -->
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <!-- 카테고리 버튼 -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">

                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" data-category="ALL" onclick="setCategory('ALL', this)">
                                    전체
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" data-category="FREE" onclick="setCategory('FREE', this)">자유
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" data-category="FRIENDS" onclick="setCategory('FRIENDS', this)">
                                    강아지 친구 찾기
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" data-category="SHARE" onclick="setCategory('SHARE', this)">나눔
                                </button>
                            </li>
                            <input type="hidden" name="category" id="categoryInput" value="ALL">
                        </ul>

                        <!-- 검색 버튼 -->
                        <form class="d-flex align-items-center search">
                            <div class="col-auto">
                                <input class="form-control custom-input" type="search" placeholder="제목을 입력하세요"
                                       aria-label="Search" name="q" th:value="${param.q}">
                            </div>
                            <div>
                                <button class="btn btn-outline-success" type="submit">검색</button>
                            </div>
                        </form>
                    </div>


                    <!-- 공지사항 -->
                    <div class="alert alert-info" role="alert">
                        📢 <a href="#">펫트라슈 8월 후기 어워드 당첨자 발표!!!</a>
                    </div>

                    <!-- 게시물 리스트 -->
                    <div class="table-container my-3">
                        <table class="table table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th>No.</th>
                                <th>카테고리</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회수</th>
                            </tr>
                            </thead>
                            <tbody id="postList" class="post-item">
                            <tr th:each="post, iterstat : ${posts}"
                                th:data-category="${post.category.toString().toUpperCase()}" class="post-item">
                                <!--/*
                                pageCriteria.page : 현재 페이지 번호
                                pageCriteria.itemsPerPage : 페이지 당 항목 수
                                pageCriteria.page - 1 : 0부터 시작하는 현재 페이지의 인덱스를 계산함
                                pageCriteria.itemsPerPage 와 곱해 현재 페이지의 첫번째 항목 번호를 계산함
                                 */-->
                                <td th:text="${(pageCriteria.page - 1) * pageCriteria.limit + iterstat.index + 1}"></td>
                                <td>
                                    <span th:text="${post.category.displayName}"
                                          th:classappend="|badge badge-category badge-category-${post.category.toString().toLowerCase()}|">
                                    </span>
                                </td>
                                <td>
                                    <a th:href="|@{/community/postDetail?postId=}${post.postId}|"
                                       th:text="${post.title}" class="postTitle"></a>
                                </td>
                                <td th:text="${post.writer}"></td>
                                <td>[[${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm') }]]</td>
                                <td th:text="${post.views != null ? post.views : 0}"></td> <!-- null값이면 0으로 출력 -->
                            </tr>

                            </tbody>
                        </table>
                    </div>


                    <!-- 게시글 등록 & 검색 -->
                    <div class="d-flex search-container justify-content-end" style="margin-bottom: 10px">
                        <button class="btn btn-primary"
                                th:onclick="|location.href = '@{/community/registPost}'|">게시글 등록
                        </button>
                    </div>


                    <!-- 페이징 바 -->
                    <nav class="position-relative" th:if="${pageCriteria != null}" th:object="${pageCriteria}"
                         aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <!--/* 이전 영역 */-->
                            <li th:class="|page-item *{pagebarStart == 1 ? 'disabled' : ''}|">
                                <a class="page-link" th:href="|*{url}*{pagebarStart - 1}|">이전</a>
                            </li>

                            <!--/* 페이지숫자 영역 */-->
                            <!--/* th:each에는 break 기능이 없다.*/-->
                            <th:block th:each="pageNo : *{#numbers.sequence(pagebarStart, pagebarEnd)}">
                                <li th:if="${pageNo <= pageCriteria.maxPage}"
                                    th:class="|page-item ${pageCriteria.page == pageNo ? 'active' : ''}|">
                                    <a class="page-link" th:href="|*{url}${pageNo}|" th:text="${pageNo}"></a>
                                </li>
                            </th:block>

                            <!--/* 다음 영역 */-->
                            <li th:class="|page-item *{pagebarEnd > maxPage ? 'disabled' : ''}|">
                                <a class="page-link" th:href="|*{url}*{pagebarEnd + 1}|">다음</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00"/>
        </svg>
    </div>

    <!--/* fragment 적용시, javaScript 코드가 fragment = "main"안에 있어야 한다! */-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
<script layout:fragment="js" th:src="@{/js/community/postList.js}"></script>
</body>
</html>