<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <title>MyPage</title>
    <style>
        tbody {
            height: 200px; /* Set the desired height for scrolling */
            overflow-y: auto; /* Enable vertical scrolling */
        }

        table {

            text-align: center;
        }

    </style>
    <script>
        function showSection(sectionId) {
            // 모든 섹션을 숨기기
            document.getElementById('editProfileSection').style.display = 'none';
            document.getElementById('petProfileSection').style.display = 'none';
            document.getElementById('usageHistorySection').style.display = 'none';
            document.getElementById('petSitterSection').style.display = 'none';
            document.getElementById('payStatusSection').style.display = 'none';

            // 선택된 섹션만 보이기
            var section = document.getElementById(sectionId);
            section.style.display = 'block';

            // 선택된 섹션으로 스크롤 이동
            section.scrollIntoView({behavior: 'smooth'});
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div layout:fragment="main" class="page-body">

    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a href="../index.html">Home <i
                            class="ion-ios-arrow-forward"></i></a></span> <span>MyPage <i
                            class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-0 bread">MyPage</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section" th:text="${member.name} + ' 회원님'"></h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="wrapper">
                        <!-- 버튼 추가 영역 -->
                        <div class="row mb-1 justify-content-center">
                            <div class="col-md-3">
                                <button class="btn btn-primary w-50" onclick="showSection('editProfileSection')">회원정보
                                    수정
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary w-50" onclick="showSection('petProfileSection')">펫 프로필
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary w-50" onclick="showSection('usageHistorySection')">
                                    이용내역
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary w-50" onclick="showSection('petSitterSection')">펫시터
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary w-50" onclick="showSection('payStatusSection')">결제 내역
                                </button>
                            </div>
                        </div>
                        <!-- 버튼 추가 영역 끝 -->
                        <!-- 섹션 추가 영역 -->
                        <div id="editProfileSection" style="display:none;">
                            <h3>회원정보 수정</h3>
                            <form id="profileUpdateForm" method="post">
                                <!-- 사용자에게 보이지 않는 ID를 저장하는 숨겨진 필드 -->
                                <input type="hidden" name="id" th:value="${member.id}">
                                <!--                                <div class="form-group">-->
                                <!--                                    <label for="email">이메일:</label>-->
                                <!--                                    <input type="email" class="form-control" id="email" th:value="${member.email}" readonly>-->
                                <!--                                </div>-->
                                <div class="form-group">
                                    <label for="profileAddress">주소:</label>
                                    <input type="text" class="form-control" name="address" th:value="${member.address}" id="profileAddress"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="profilePhone">연락처:</label>
                                    <input type="text" class="form-control" name="phone" th:value="${member.phone}" id="profilePhone"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="profileNickName">닉네임:</label>
                                    <input type="text" class="form-control" name="nickName" id="profileNickName"
                                           th:value="${member.nickName}" required>
                                </div>
                                <button type="submit" class="btn btn-primary">수정하기</button>
                            </form>
                        </div>

                        <div id="petProfileSection" style="display:none;">
                            <h3>펫 프로필</h3>
                            <!--                            <form>-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <label for="petPhoto">펫 사진:</label>-->
                            <!--                                    <input type="file" class="form-control-file" id="petPhoto">-->
                            <!--                                </div>-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <label for="petName">펫 이름:</label>-->
                            <!--                                    <input type="text" class="form-control" id="petName" placeholder="펫 이름을 입력하세요">-->
                            <!--                                </div>-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <label for="species">종:</label>-->
                            <!--                                    <input type="text" class="form-control" id="species" placeholder="종을 입력하세요">-->
                            <!--                                </div>-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <label for="petGender">성별:</label>-->
                            <!--                                    <select class="form-control" id="petGender">-->
                            <!--                                        <option>남</option>-->
                            <!--                                        <option>여</option>-->
                            <!--                                    </select>-->
                            <!--                                </div>-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <label for="petBirthday">생일:</label>-->
                            <!--                                    <input type="date" class="form-control" id="petBirthday">-->
                            <!--                                </div>-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <label for="weight">몸무게:</label>-->
                            <!--                                    <input type="number" class="form-control" id="weight" placeholder="몸무게를 입력하세요">-->
                            <!--                                </div>-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <label for="character">성향:</label>-->
                            <!--                                    <textarea class="form-control" id="character" rows="3" placeholder="성향을 입력하세요"></textarea>-->
                            <!--                                </div>-->
                            <!--                                <button type="submit" class="btn btn-primary">저장하기</button>-->
                            <!--                            </form>-->
                            <div>
                                <h4>등록된 펫</h4>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">번호</th>
                                        <th scope="col">이름</th>
                                        <th scope="col">성별</th>
                                        <th scope="col">품종</th>
                                        <th scope="col">나이</th>
                                        <th scope="col">중성화</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>절망이</td>
                                        <td>남자아이</td>
                                        <td>푸들</td>
                                        <td>10</td>
                                        <td>했어요</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a th:href="@{/pet/registPet}">
                                    <button class="btn btn-primary btn-lg"
                                            style="background-color: #28a745; border: none; color: white; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;">
                                        추가 등록하기
                                    </button>
                                </a>

                            </div>
                        </div>

                        <!--이용 내역 세션-->
                        <div id="usageHistorySection" style="display:none;">

                            <!-- 현재 진행중인 내역 -->
                            <div id="currentUsageSection">
                                <h4>현재 요청한 내역</h4>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col">펫시터</th>
                                        <th scope="col">서비스 날짜</th>
                                        <th scope="col">예약 신청 날짜</th>
                                        <th scope="col">견종, 마리</th>
                                        <th scope="col">시작, 종료</th>
                                        <th>상태변경</th>
                                        <th>상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="reservationDto ,stat :${reservationDtoList}"
                                            th:object="${reservationDto}">
                                            <form id="reservationForm" method="post" th:object="${reservationDtoList}">
                                            <label>
                                                <input type="hidden" th:value="${reservationDto.partnerOrderId}"
                                                       name="partnerOrderId">
                                            </label>

                                            <td>
                                                <a th:href="@{|/petsitter/reservationdetail/${reservationDto.partnerOrderId}|}"
                                                   onclick="window.open(this.href, '_blank', 'left=2000%,top=800%, width=900, height=700'); return false;">자세히</a>
                                            </td>
                                            <td th:text="${reservationDto.petSitterId}"></td>
                                            <td th:text="${reservationDto.reservationDay}"></td>
                                            <td th:text="${#temporals.format(reservationDto.createdAt, 'yyyy-MM-dd/a hh:mm')}"></td>

                                            <td th:object="${reservationDto.petSizeAndHowManyPets}">
                                                <div th:if="${#lists.size(reservationDto.petSizeAndHowManyPets) >= 2}">
                                                    <span th:text="${reservationDto.petSizeAndHowManyPets[0].petSize}" name="petSize"></span>
                                                    <span th:text="${reservationDto.petSizeAndHowManyPets[0].howManyPet}"></span>
                                                    <span th:text="'외...'"></span>
                                                </div>
                                                <div th:if="${#lists.size(reservationDto.petSizeAndHowManyPets) <2}">
                                                    <span th:text="${reservationDto.petSizeAndHowManyPets[0].petSize}" name="petSize"></span>
                                                    <span th:text="${reservationDto.petSizeAndHowManyPets[0].howManyPet}"></span>
                                                </div>
                                            </td>

                                            <td>
                                                <span th:text="${reservationDto.startTime}" name="startTime"></span>
                                                <span th:text="${reservationDto.endTime}" name="endTime"></span>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="submit"
                                                            th:formaction="@{/petsitter/memberReservationCancel}"
                                                            th:if="${reservationDto.reservationStatus.getReservationStatus()} != 'cancel'"
                                                            th:text="예약취소" value="cancel" class="btn btn-danger"
                                                            name="sittingStatus"></button>
                                                </div>
                                            </td>
                                            <td>
                                                <span th:if="${reservationDto.reservationStatus.getReservationStatus()} == 'ready'"
                                                      th:text="예약대기"></span>
                                                <span th:if="${reservationDto.reservationStatus.getReservationStatus()} == 'OK'"
                                                      th:text="예약승인"></span>
                                                <span th:if="${reservationDto.reservationStatus.getReservationStatus()} == 'cancel'"
                                                      th:text="예약취소" class=""></span>

                                            </td>
                                            </form>
                                        </tr>

                                    <!-- 다른 진행중인 내역 추가 -->
                                    </tbody>
                                </table>
                            </div>

                            <div id="sittingForm">
                                <h4>진행중인 돌봄</h4>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col">펫시터</th>
                                        <th scope="col">서비스 날짜</th>
                                        <th scope="col">견종, 마리</th>
                                        <th scope="col">시작, 종료</th>
                                        <th>돌봄상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <form method="post" th:object="${sittingDtoList}">
                                        <tr th:each="sittingDto ,stat :${sittingDtoList}"
                                            [[${sittingDto.stat}]]
                                            th:object="${sittingDto}">
                                            <label>
                                                <input type="hidden" th:value="${sittingDto.partnerOrderId}"
                                                       name="partnerOrderId">
                                            </label>

                                            <td>
                                                <a th:href="@{|/petsitter/reservationdetail/${sittingDto.partnerOrderId}|}"
                                                   onclick="window.open(this.href, '_blank', 'left=2000%,top=800%, width=900, height=700'); return false;">자세히</a>
                                            </td>
                                            <td th:text="${sittingDto.petSitterId}"></td>
                                            <td th:text="${sittingDto.serviceDate}"></td>

                                            <td th:object="${sittingDto.petSizeAndHowManyPets}">
                                                <div th:if="${#lists.size(sittingDto.petSizeAndHowManyPets) >= 2}">
                                                    <span th:text="${sittingDto.petSizeAndHowManyPets[0].petSize}" name="petSize"></span>
                                                    <span th:text="${sittingDto.petSizeAndHowManyPets[0].howManyPet}"></span>
                                                    <span th:text="'외...'"></span>
                                                </div>
                                                <div th:if="${#lists.size(sittingDto.petSizeAndHowManyPets) <2}">
                                                    <span th:text="${sittingDto.petSizeAndHowManyPets[0].petSize}" name="petSize"></span>
                                                    <span th:text="${sittingDto.petSizeAndHowManyPets[0].howManyPet}"></span>
                                                </div>
                                            </td>

                                            <td>
                                                <span th:text="${sittingDto.startTime}" name="startTime"></span>
                                                <span th:text="${sittingDto.endTime}" name="endTime"></span>
                                            </td>
                                            <td th:text="${sittingDto.sittingStatus.getSittingStatus()}"> </td>

                                        </tr>
                                    </form>
                                    <!-- 다른 진행중인 내역 추가 -->
                                    </tbody>
                                </table>
                            </div>

                            <!-- 완료된 내역 -->
                            <div id="completedUsageSection">
                                <h4>완료된 내역</h4>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col">펫시터</th>
                                        <th scope="col">서비스 날짜</th>
                                        <th>견종, 마리</th>
                                        <th>상태</th>
                                        <th>리뷰</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <form id="completeForm" method="post" th:object="${completeSittingDto}">
                                        <tr th:each="completeSittingDto ,stat :${completeSittingDtoList}"
                                            th:object="${completeSittingDto}">
                                            <input type="hidden" name="serviceDate" th:value="${completeSittingDto.serviceDate}">
                                            <input type="hidden" name="petSitterId" th:value="${completeSittingDto.petSitterId}">
                                            <input type="hidden" name="note" th:value="${completeSittingDto.note}">
                                            <input type="hidden" name="startTime" th:value="${completeSittingDto.startTime}">
                                            <input type="hidden" name="endTime" th:value="${completeSittingDto.endTime}">
                                            <input type="hidden" name="createdAt" th:value="${completeSittingDto.createdAt}">
                                            <label>
                                                <input type="hidden" th:value="${completeSittingDto.partnerOrderId}"
                                                       name="partnerOrderId">
                                            </label>
                                            <td>
                                                <a th:href="@{|/petsitter/reservationdetail/${completeSittingDto.partnerOrderId}|}"
                                                   onclick="window.open(this.href, '_blank', 'left=2000%,top=800%, width=900, height=700'); return false;">자세히</a>
                                            </td>
                                            <td th:text="${completeSittingDto.petSitterId}"></td>
                                            <td th:text="${completeSittingDto.serviceDate}"></td>

                                            <td th:object="${completeSittingDto.petSizeAndHowManyPets}">
                                                <div th:if="${#lists.size(completeSittingDto.petSizeAndHowManyPets) >= 2}">
                                                    <span th:text="${completeSittingDto.petSizeAndHowManyPets[0].petSize}" name="petSize"></span>
                                                    <span th:text="${completeSittingDto.petSizeAndHowManyPets[0].howManyPet}"></span>
                                                    <span th:text="'외...'"></span>
                                                </div>
                                                <div th:if="${#lists.size(completeSittingDto.petSizeAndHowManyPets) < 2}">
                                                    <span th:text="${completeSittingDto.petSizeAndHowManyPets[0].petSize}" name="petSize"></span>
                                                    <span th:text="${completeSittingDto.petSizeAndHowManyPets[0].howManyPet}"></span>
                                                </div>
                                            </td>

                                            <td>
                                              <span th:if="${completeSittingDto.sittingStatus.getSittingStatus()} == 'COMPLETED_SITTING'"
                                              th:text="'돌봄 완료'"></span>
                                                    <button type="submit"
                                                            th:formaction="@{/petsitter/memberReservationCancel}"
                                                            class="btn btn-primary"
                                                            th:if="${completeSittingDto.sittingStatus.getSittingStatus()} == 'WAITING_MEMBER_CHECK'"
                                                            th:text="돌봄대기승인" id="completeButton" value="COMPLETED_SITTING"
                                                            name="sittingStatus"></button>
                                            </td>
                                            <td>
                                                    <a  th:href="@{|/petsitter/review/${completeSittingDto.partnerOrderId}|}"
                                                            th:if="${completeSittingDto.sittingStatus.getSittingStatus()} == 'COMPLETED_SITTING'
                                                            and ${!completeSittingDto.reviewCheck}"
                                                        onclick="window.open(this.href, '_blank', 'left=2000%,top=800%, width=900, height=700'); return false;">리뷰 등록</a>


                                                <span th:if="${completeSittingDto.sittingStatus.getSittingStatus()} == 'COMPLETED_SITTING'
                                                            and ${completeSittingDto.reviewCheck}">등록완료</span>

<!--                                                돌봄 완료 and 이 주문 건에 대해서 리뷰를 작성을 했는지 체크-->

                                            </td>
                                        </tr>
                                    </form>
                                    <!-- 다른 진행중인 내역 추가 -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="petSitterSection" style="display:none;">
                            <h3>펫시터</h3>
                            <form>
                                <div class="form-group">
                                    <label for="name">이름:</label>
                                    <input type="text" class="form-control" id="name" placeholder="이름을 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="birthday">생년월일:</label>
                                    <input type="date" class="form-control" id="birthday" placeholder="생년월일을 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="ssn">주민등록번호 앞 7자리:</label>
                                    <input type="text" class="form-control" id="ssn" placeholder="주민등록번호 앞 7자리를 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="phone">연락처:</label>
                                    <input type="text" class="form-control" id="phone" placeholder="연락처를 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="smoking">흡연 여부:</label>
                                    <select class="form-control" id="smoking">
                                        <option>예</option>
                                        <option>아니오</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="address">거주지 주소:</label>
                                    <input type="text" class="form-control" id="address" placeholder="거주지 주소를 입력하세요" name="address">
                                </div>
                                <div class="form-group">
                                    <label for="currentJob">현재 하는 일:</label>
                                    <input type="text" class="form-control" id="currentJob"
                                           placeholder="현재 하는 일을 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="petExperience">반려 경험 유무:</label>
                                    <select class="form-control" id="petExperience">
                                        <option>예</option>
                                        <option>아니오</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="certification">자격증:</label>
                                    <input type="text" class="form-control" id="certification" placeholder="자격증을 입력하세요">
                                </div>
                                <button type="submit" class="btn btn-primary">등록하기</button>
                            </form>
                        </div>

                        <div id="payStatusSection" style="display:none;">

                            <!-- 완료된 내역 -->

                                <h4>완료된 내역</h4>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col">펫시터</th>
                                        <th scope="col">결제 날짜</th>
                                        <th scope="col">취소 날짜</th>
                                        <th>금액</th>
                                        <th>상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="orderDto ,stat :${orderDtoList}"
                                            th:object="${orderDto}">
                                            <label>
                                                <input type="hidden" th:value="${orderDto.partnerOrderId}"
                                                       name="partnerOrderId">
                                            </label>
                                            <td>
                                                <a th:href="@{|/petsitter/reservationdetail/${orderDto.partnerOrderId}|}"
                                                   onclick="window.open(this.href, '_blank', 'left=2000%,top=800%, width=900, height=700'); return false;">자세히</a>
                                            </td>
                                            <td>
                                            <a th:href="@{|/petsitter/detail/${orderDto.petSitterId}|}" th:text="${orderDto.petSitterId}"></a>
                                            </td>
                                            <td><span th:text="${#temporals.format(orderDto.payDate, 'yyyy-MM-dd/a hh:mm')}" name="createdAt"></span>
                                            <td >
                                                <span th:if="${!orderDto.payStatus}" th:text="${#temporals.format(orderDto.payCancelDate, 'yyyy-MM-dd/a hh:mm')}"></span>
                                            </td>
                                            <td th:text="${orderDto.totalPrice}"></td>
                                            <td>
                                              <span th:if="${orderDto.payStatus}"
                                                    th:text="'결제완료'"></span>
                                                <span th:if="${!orderDto.payStatus}"
                                                      th:text="'환불완료'"></span>
                                            </td>
                                        </tr>
                                    <!-- 다른 진행중인 내역 추가 -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

    </section>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00"/>
        </svg>
    </div>
</div>
</body>
</html>
