<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <title>펫시터 구하기</title>
    <!-- 펫시터 찾기 btn css -->
    <link href="/css/petsitter-finder/careregistrationlist.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="main" class="page-body">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="header-container">
                        <div class="header-text">
                            <h1 class="mb-0 find-sitter">돌봐주세요</h1>
                            <p>원하는 조건으로 펫시터를 구해보세요!</p>
                            <a th:href="@{/petsitterfinder/careregistrationform}" class="findSitterButton">돌봐주세요 게시글 등록하러 가기</a>
                        </div>
                        <img src="/svg/brownDog.svg" class="main-image" style="margin-top: 10px">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div th:each="list : ${lists}" class="petList">
                    <a th:href="|@{/petsitterfinder/careregistrationdetails?postId=}${list.postId}|">
                        <div class="staff">
                            <div class="img-wrap d-flex align-items-stretch">
                                <img th:src="${list.profile}" width="300px" height="300px"/>
                            </div>
                            <div class="pt-3 px-3 pb-4">
                                <div>
                                    <span id="address" th:text="'주소 : ' + ${list.address}"></span><br>
                                    <span id="petName" th:text="'이름 : ' + ${list.petName}"></span><br>
                                    <span id="startDate" th:text="'요청 시작 날짜 : ' + ${list.startDate}"></span><br>
                                    <span id="endDate" th:text="'요청 종료 날짜 : ' + ${list.endDate}"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <br>
        </div>
    </section>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00"/>
        </svg>
    </div>
    <script>
        const message = '[[${message}]]';
        message && alert(message);
    </script>
</div>
</body>
</html>
