<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <title>회원가입</title>
    <link href="/css/member/registMember.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="main" class="page-body">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">회원가입</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <form th:action="@{/member/registMember}" enctype="multipart/form-data" id="signup-form"
                              method="post" onsubmit="return isValid()">
                            <!-- enctype 속성이 multipart/form-data로 설정되어 있어야 서버가 요청을 multipart로 처리할 수 있음 -->

                            <!-- 회원가입 폼 -->
                            <div class="row justify-content-center"
                                 style="display: flex; flex-direction: column; align-items: center;">
                                <img id="preview" src="/images/developer.png" alt="기본 회원 사진" height="400px"
                                     width="400px"
                                     style="border: #00bd56; border-radius: 50%; margin-bottom:5px;">
                            </div>

                            <div class="form-group">
                                <label for="profile-pic">프로필 사진</label>
                                <input type="file" class="form-control-file" id="profile-pic" name="files"
                                       onchange="previewImage(event)">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="email">이메일 *</label>
                                    <div style="display: flex">
                                        <input type="email" class="form-control" id="email" placeholder="이메일 입력"
                                               name="email" style="margin-right: 10px" required>
                                        <input type="button" class="btn btn-primary" id="emailCheck"
                                               onclick="duplicateEmailCheck()" value="이메일 중복 체크">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="password">비밀번호 *</label>
                                    <input type="password" class="form-control" id="password" placeholder="비밀번호 입력"
                                           name="password" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="confirm-password">비밀번호 확인 *</label>
                                    <input type="password" class="form-control" id="confirm-password"
                                           placeholder="비밀번호 확인" onKeyUp=pwCheck() name="passwordCheck" required>
                                    <p id="pwResult"></p>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">이름 *</label>
                                    <input type="text" class="form-control" id="name" placeholder="이름 입력" name="name"
                                           required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="nickname">닉네임 *</label>
                                    <input type="text" class="form-control" id="nickname" placeholder="닉네임 입력"
                                           name="nickName" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="phone">핸드폰 번호 *</label>
                                    <input type="tel" class="form-control" id="phone" placeholder="핸드폰 번호 입력"
                                           name="phone" required oninput="validatePhoneInput(this)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="gender">성별 *</label>
                                    <select class="form-control" id="gender" name="gender" required>
                                        <option value="">성별 선택</option>
                                        <option value="M">남성</option>
                                        <option value="F">여성</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="dob">생년월일 *</label>
                                    <input type="date" class="form-control" id="dob" name="birth">
                                </div>
                            </div>

                            <div class="form-row" style="margin-bottom: 10px">
                                <div class="form-group col-md-12" style="margin-bottom: 5px">
                                    <label for="gender">주소 *</label>
                                    <div style="display: flex; margin-bottom: 5px">
                                        <input type="text" class="form-control" id="sample6_postcode"
                                               placeholder="우편번호">
                                        <input type="button" class="form-control" onclick="sample6_execDaumPostcode()"
                                               value="우편번호 찾기">
                                    </div>
                                    <input type="text" class="form-control col-md-12" id="sample6_address"
                                           placeholder="주소">
                                </div>

                                <div style="display: flex" class="col-md-12">
                                    <input type="text" class="form-control" id="sample6_detailAddress"
                                           placeholder="상세주소">
                                    <input type="text" class="form-control" id="sample6_extraAddress"
                                           placeholder="참고항목">
                                </div>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary">회원가입</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00"/>
        </svg>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script layout:fragment="js" th:src="@{/js/member/registMember.js}"></script>
</div>
</body>
</html>
