<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>회원가입</title>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <style>
        .modal-body {
            max-height: 400px;
            overflow-y: auto;
        }

        .btn-container {
            display: flex;
            justify-content: space-between;
        }

        .btn-full {
            width: 100%;
        }

        .form-row {
            margin-bottom: 1rem;
        }

        .form-group {
            margin-bottom: 1rem;
        }

        .form-group .form-control {
            display: inline-block;
        }

        .form-group .form-control.btn {
            width: 100px;
        }

        /* Make the submit button full width */
        .btn-primary {
            width: 100%;
            display: block;
        }
    </style>
</head>
<body>
<div layout:fragment="main" class="page-body">

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">회원가입</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <form id="signup-form" method="post" onsubmit="return isValid()">
                            <!-- 회원가입 폼 -->
                            <h3>회원가입</h3>
                            <div class="form-group">
                                <label for="profile-pic">프로필 사진</label>
                                <input type="file" class="form-control-file" id="profile-pic" name="profileImage">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="email">이메일 *</label>
                                    <div style="display: flex">
                                        <input type="email" class="form-control" id="email" placeholder="이메일 입력"
                                               name="email" style="margin-right: 10px" required>
                                        <input type="button" class="btn btn-primary" id="emailCheck"
                                               onclick="duplicateEmailCheck()" value="이메일 중복 체크">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="password">비밀번호 *</label>
                                    <input type="password" class="form-control" id="password" placeholder="비밀번호 입력"
                                           name="password" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="confirm-password">비밀번호 확인 *</label>
                                    <input type="password" class="form-control" id="confirm-password"
                                           placeholder="비밀번호 확인" onKeyUp=pwCheck()  name="passwordCheck" required>
                                    <p id="pwResult"></p>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">이름 *</label>
                                    <input type="text" class="form-control" id="name" placeholder="이름 입력" name="name"
                                           required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="nickname">닉네임 *</label>
                                    <input type="text" class="form-control" id="nickname" placeholder="닉네임 입력"
                                           name="nickName" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="phone">핸드폰 번호 *</label>
                                    <input type="text" class="form-control" id="phone" placeholder="핸드폰 번호 입력"
                                           name="phone" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="gender">성별 *</label>
                                    <select class="form-control" id="gender" name="gender" required>
                                        <option value="">성별 선택</option>
                                        <option value="M">남성</option>
                                        <option value="F">여성</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="dob">생년월일 *</label>
                                    <input type="date" class="form-control" id="dob" name="birth">
                                </div>
                            </div>

                            <div class="form-row" style="margin-bottom: 10px">
                                <div class="form-group col-md-12" style="margin-bottom: 5px">
                                    <label for="gender">주소 *</label>
                                    <div style="display: flex; margin-bottom: 5px">
                                        <input type="text" class="form-control" id="sample6_postcode"
                                               placeholder="우편번호">
                                        <input type="button" class="form-control" onclick="sample6_execDaumPostcode()"
                                               value="우편번호 찾기">
                                    </div>
                                    <input type="text" class="form-control col-md-12" id="sample6_address"
                                           placeholder="주소">
                                </div>

                                <div style="display: flex" class="col-md-12">
                                    <input type="text" class="form-control" id="sample6_detailAddress"
                                           placeholder="상세주소">
                                    <input type="text" class="form-control" id="sample6_extraAddress"
                                           placeholder="참고항목">
                                </div>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary">회원가입</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00"/>
        </svg>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>

<script layout:fragment="js">
    let emailCheckResult = false;
    let pwCheckResult = false;

    function isValid() {

        if (emailCheckResult) {
            if (emailCheckResult) {
                alert('👍회원가입을 축하드립니다!👍');
                return true;
            } else {
                alert('비밀번호가 일치하지 않습니다.');
                return false;
            }
        } else {
            alert('이메일 중복 체크를 먼저 해주세요');
            return false;
        }
    }

    // 이메일 중복 체크를 하는 코드입니다.
    function duplicateEmailCheck() {
        const memberEmail = document.getElementById('email');
        if (!memberEmail) {
            alert('이메일을 입력해주세요.');
            return false;
        }

        $.ajax({
            url: '[[@{/member/sameEmailCheck}]]', // 대괄호를 꼭 써줘야 한다, 그렇지 않으면 controller로 넘어가지 않는다.
            method: 'post',
            data: {
                memberEmail: memberEmail.value
            },
            success: function (res) {

                if (res === true) {
                    alert('이미 사용중인 이메일입니다. 다시 입력해주세요!');
                    console.log('사용중인 이메일입니다. 다시 입력해주세요');
                    emailCheckResult = false; // 이메일 중복 확인 실패
                }
                else {
                    alert('사용 가능한 이메일입니다!');
                    emailCheckResult = true; // 이메일 사용 가능
                }
            },
            error: function () {
                console.log('이메일 중복 체크 오류입니다.');
            },
            complete: function () {
                console.log('이메일 중복 체크 완료')
            }
        });
        return emailCheckResult;
    }

    // 비밀번호 확인하는 코드입니다.
    const pwCheck = () => {
        const pw = document.getElementById('password').value;
        const pwCheck = document.getElementById('confirm-password').value;
        const pwResult = document.getElementById('pwResult');

        if(pw === pwCheck) {
            pwResult.style.color = '#00bd56';
            pwResult.innerHTML = "비밀번호가 일치합니다.";
            pwCheckResult = true;
        }else {
            pwResult.style.color = '#e2263e';
            pwResult.innerHTML = " 비밀번호가 일치하지 않습니다."
            pwCheckResult = false;
        }
    }

    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                let addr = '';
                let extraAddr = '';

                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                if (data.userSelectedType === 'R') {
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>
