<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>
        헤더
    </title>
    <style>
        .header-links {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            border: 10px;
        }
    </style>
</head>
<body>
<header th:fragment="headerFragment">
    <div class="wrap" style="border: 50px">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <div sec:authorize="isAnonymous()" class="header-links d-flex align-items-center">
                        <input type="button" value="로그인" th:onclick="|location.href = '@{/auth/login}'|" style="border: none; background: none; color: white; cursor:pointer">
                        <p style="margin: 0 5px; color:white;">｜</p>
                        <input type="button" value="회원 가입" th:onclick="|location.href = '@{/member/termsOfService}'|" style="border: none; background: none; color: white; cursor:pointer">

                    </div>
                    <div sec:authorize="isAuthenticated()" class="header-links d-flex align-items-center">
                        <p th:text="${#authentication.principal.member.name + ' 님, 반갑습니다🐶'}" style="margin: 0 5px; color: white"></p>
                        <form th:action="@{/auth/logout}" method="post">
                            <input type="submit" value="로그아웃" style="border: none; background: none; color: white; cursor:pointer">
                        </form>
                        <p style="margin: 0 5px; color:white;">｜</p>
                        <a th:href="@{/mypage/mypage}" style="border: none; background: none; color: white">마이페이지</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div  class="container">
            <a  class="navbar-brand" th:href="@{/}"><span class="flaticon-pawprint-1 mr-2"></span>펫토피아</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a th:href="@{/petsitter/petsittingmain}" class="nav-link">펫시팅</a></li>
                    <li class="nav-item"><a th:href="@{/enterprise/location}" class="nav-link">병원 • 약국 • 미용실</a></li>
                    <li class="nav-item"><a th:href="@{/community/postList}" class="nav-link">커뮤니티</a></li>
                    <li class="nav-item"><a sec:authorize="hasRole('SITTER')" th:href="@{/petsitter/startjob}" class="nav-link">댕댕이 돌보러가기</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- END nav -->
</header>
</body>
</html>