<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>펫시터의 이름</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        img {
            width: 120px;
            height: 50px;
            margin: 3%;
        }

        .petSize {
            width: 150px;
            height: 70px;
            margin: 3%;
        }
    </style>
</head>
<body>

<main layout:fragment="main" class="page-body">
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');"
             data-stellar-background-ratio="0.5"> <!--여기에 사용자가 등록한 사진을 넣으면 되겠다-->
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}">Home
                        <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>펫시터
							<i class="ion-ios-arrow-forward"></i>
						</span>
                    </p>
                    <h1 class="mb-0 bread">여기에 펫시터 이름을 출력</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container" th:object="${profile}">
        <div style="display: flex;">
            <div style="padding-right: 30px">
                <h2>여기는 포트폴리오를 작성하는 공간입니다</h2>
                <div style="display: flex">
                    <h4>여기는 사용자의 사진이나 반려동물의 사진이 들어옵니다</h4>
                    <h4 th:text="${profile.memberId}">여기는 사용자의 이름이 들어옵니다</h4>
                    <div style="overflow:scroll; width:500px; height:350px;">
                        <div th:each="images,stat: ${profileImg}">
                            <img th:src="${images}" alt="" style="height: 400px; width: 350px">
                        </div>
                    </div>
                </div>
                <div style="padding: 5px">
                    <h4>여기는 자신의 자격증이나 기타 증명이 들어옵니다(대부분 자격증)</h4>
                    <div>
                        <img th:src="@{/images/License.PNG}" alt="증명서">
                    </div>
                    <div>
                        <h4>여기는 펫시터가 가능한 기능들을 보여줍니다 아마 이것도 db로 관리해야 될 거 같습니다</h4>
                        <div class="container" >
                            <div style="border: 1px solid black" class="col-md-6 col-lg-3 ftco-animate">
                                <div class="container">
                                    <div th:if="${petService.contains('everydayWalk')}">
                                        <img th:src="@{/images/availableService/everydaywalk.PNG}" alt="everydayWalk">
                                    </div>
                                    <div th:if="${petService.contains('olderPetWalk')}">
                                        <img th:src="@{/images/availableService/oldpetwalk.PNG}" alt="노견산책">
                                    </div>

                                    <div th:if="${petService.contains('youngerPetWalk')}">
                                        <img th:src="@{/images/availableService/youngerpetwalk.PNG}" alt="어린견산책">
                                    </div>
                                </div>
                                <div class="container">
                                    <div th:if="${petService.contains('play')}">
                                        <img th:src="@{/images/availableService/play.PNG}" alt="실내놀이">
                                    </div>
                                    <div th:if="${petService.contains('firstAid')}">
                                        <img th:src="@{/images/availableService/firstaid.PNG}" alt="응급처리">
                                    </div>
                                    <div th:if="${petService.contains('walkPickup')}">
                                        <img th:src="@{/images/availableService/pickup.PNG}" alt="도보픽업">
                                    </div>
                                </div>
                                <div class="container">
                                    <div th:if="${petService.contains('brush')}">
                                        <img th:src="@{/images/availableService/brush.PNG}" alt="모발관리">
                                    </div>
                                    <div th:if="${petService.contains('medicine')}">
                                        <img th:src="@{/images/availableService/medicine.PNG}" alt="약먹이기">
                                    </div>
                                    <div th:if="${petService.contains('longReservation')}">
                                        <img th:src="@{/images/availableService/longreservation.PNG}" alt="장기예약">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div style="padding: 5px">
                    <h4>여기는 사용자들의 리뷰가 들어옵니다</h4>
                    <img th:src="@{/images/review.PNG}" alt="리뷰">
                </div>

            </div>

            <div style="padding: 5px">
                <h2>여기는 예약하기 위한 공간입니다</h2>
                <div style="padding: 5px">
                    <p>여기는 예약하기 위한 날짜가 들어옵니다</p>
                    <div>
                        <div style="border: #0b0b0b 1px solid; margin: 10px;" class="align-content-end">
                            <form action="">
                                <div class="bo_w_tit write_div">
                                    <div><span>언제 시터가 필요하신가요??</span></div>
                                    <input style="align-content: flex-end" type="text" name="wr_2" value="" id="wr_2"
                                           required class="frm_input full_input required datepicker" placeholder="시작날짜"
                                           readonly>
                                    <input type="text" name="wr_3" value="" id="wr_3" required
                                           class="frm_input full_input required datepicker" placeholder="종료 날짜"
                                           readonly>
                                    <div class="" style="border: 1px solid black; display: block;" id="availablePetSize">
                                        <div th:if="${petSize.contains('smallPet')}">
                                            <img th:src="@{/images/availablePetSize/smallpet.PNG}" alt="소형견">
                                        </div>
                                        <div th:if="${petSize.contains('middlePet')}">
                                            <img th:src="@{/images/availablePetSize/middlepet.PNG}" alt="중형견">
                                        </div>
                                        <div th:if="${petSize.contains('largePet')}">
                                            <img th:src="@{/images/availablePetSize/largepet.PNG}" alt="대형견">
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div>
                                <button id="btn-kakao">예약 요청</button>
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
                            </div>
                        </div>
                        <div>
                            <p>가능한 애견</p>
                            <img th:src="@{/images/pay.PNG}" alt="요금">
                        </div>
                        <div>
                            <p>가능한 날짜</p>
                            <img th:src="@{/images/possibledate.PNG}" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            $("#btn-kakao").click(function() {
                $.ajax({
                    url: '/pay/ready',
                    type: 'get',
                    data: {
                        item_name: '대형견',
                        quantity: "1",
                        total_amount: "70000",
                        tax_free_amount: "0",
                    },
                    success: function(response) {
                        console.log("결제완료 페이지입니다");
                        alert(response.next_redirect_pc_url); //kakao payment api에서 알아서 응답해주는 url
                        location.href  = response.next_redirect_pc_url; // 결제 페이지
                    },
                    error: function(xhr, err, status) {
                        console.log(xhr.responseText);
                        alert(err + "이(가) 발생했습니다: " + status);
                    }
                });
            });
    </script>
</main>
</body>
</html>