<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <title>펫시터</title>
    <link href="/css/petsitter/list.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="main" class="page-body">

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate pb-5">
                    <div class="header-container">
                        <div class="header-text">
                            <h1 class="mb-0 find-sitter">돌봐드려요</h1>
                            <p class = "love">사랑으로 돌보는 펫시터에게 아이를 맡겨보세요!</p>
                        </div>
                        <img src="/svg/whiteDog.svg" class="main-image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="search-section">
                <div class="autocomplete-wrapper">
                    <form th:action="@{/petsitter/findAddress}" id="findAddressForm" method="post" style="display: flex;">
                        <input th:value="${address}" type="text" id="input-location" name="address"
                               placeholder="예: 삼성동, 잠실1동, 잠실2동...">
                        <button type="button" id="search-button" onclick="submitAddressForm()">
                            <img src="/svg/glass.svg" alt="Search" height="50px" width="20px">
                        </button>
                    </form>
                </div>
            </div>
            <div class="row" id="petSitterListContainer">
                <div class="petList" th:each="petSitterDto, stat : ${petSitterListDtoList}"
                     th:object="${petSitterDto}">
                    <a th:href="@{|/petsitter/detail/${petSitterDto.petSitterId}|}"><!-- 여기 부분에 디테일 페이지로 가는 링크해야 된다-->
                        <div class="staff">
                            <div class="img-wrap d-flex">
                                <div class="img-wrap d-flex">
                                    <img th:src="@{${petSitterDto.mainImageUrl}}"/>
                                </div>
                            </div>
                            <div class=" pt-3 px-3 pb-4 careList-text">
                                <span class="position mb-2"
                                      th:text="${petSitterDto.address}">사용자 주소</span>
                                <div>
                                    <div>
                                        <span>별점 : </span>
                                        <span id="starRating" th:text="${petSitterDto.starRating != null ? petSitterDto.starRating : 0}">별점 :</span>
                                    </div>
                                    <div>
                                        <span>후기 : </span>
                                        <span id="review" th:text="${petSitterDto.reviewCnt != null ? petSitterDto.reviewCnt  : 0}">후기 :</span>
                                    </div>
                                </div>
                                <div class="faded">
<!--                                    여기 부분이 하얗게 나옴-->
                                    <p th:text="${petSitterDto.oneLineIntroduce}" class = "one-line-info"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <br>
        </div>
    </section>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00"/>
        </svg>
    </div>

    <script>
        function submitAddressForm() {
            const form = document.getElementById('findAddressForm');
            form.submit();
        }
    </script>
</div>
</body>
</html>