<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <title>펫시터</title>
    <link href="/css/petsitter/list.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="main" class="page-body">

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate pb-5">
                    <div class="header-container">
                        <div class="header-text">
                            <h1 class="mb-0 find-sitter">돌봐드려요</h1>
                            <p>사랑으로 돌보는 펫시터에게 아이를 맡겨보세요!</p>
                        </div>
                        <img src="/svg/whiteDog.svg" class="main-image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="search-section">
                <div class="autocomplete-wrapper">
                    <form th:action="@{/petsitter/findAddress}" id="findAddressForm" method="post" style="display: flex;">
                        <input th:value="${address}" type="text" id="input-location" name="address"
                               placeholder="예: 삼성동, 잠실1동, 잠실2동...">
                        <button type="button" id="search-button" onclick="submitAddressForm()">
                            <img src="/svg/glass.svg" alt="Search" height="50px" width="20px">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div th:each="petSitter, stat : ${petSitterList}"
                     th:object="${petSitter}" class="petList">
                    <a th:href="@{|/petsitter/detail/${petSitter.petSitterId}|}">
                        <div class="staff">
                            <div class="img-wrap d-flex align-items-stretch">
                                <img th:src="${petSitter.mainImageUrl}" width="300px" height="300px"/>
                            </div>
                            <div class="pt-3 px-3 pb-4">
                                <div>
                                    <span id="address" th:text="${petSitter.petSitterAddress.address}"></span><br>
                                    <span id="starRating" >별점 : 4.5</span><br>
                                    <span id="review">후기 : 100개</span><br>
                                    <span th:text="${petSitter.oneLineIntroduce}"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <br>
        </div>
    </section>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00"/>
        </svg>
    </div>

    <script>
        function submitAddressForm() {
            const form = document.getElementById('findAddressForm');
            form.submit();
        }
    </script>
</div>
</body>
</html>