<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>펫시팅</title>
    <link href="/css/pesitting/petsittingmain.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="main" class="petsittingmain">
    <button class="custom-button">
        <a th:href="@{/petsitterfinder/careregistrationlist}">
            <img src='/svg/helpDog.svg' class="serviceImage">
            돌봐주세요
        </a>
    </button>
    <button class="custom-button">
        <a th:href="@{/petsitter/list}">
            <img src='/svg/petcare.svg' class="serviceImage">
            돌봐드려요
        </a>
    </button>

</div>
</body>
</html>
