<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!--    <span th:text="${#authentication.principal.member.name}"></span>-->
    <title>프로필 등록</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }


        img {
            width: 150px;
            height: 70px;
            margin: 3%;
        }

        .petSize {
            width: 150px;
            height: 70px;
            margin: 3%;
        }

        #showImage img {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: transform 0.5s ease;
        }


        textarea {
            width: 100%;
            height: 7em;
            border: 1px solid black;
            resize: none;
        }

        #mainImage {
            width: 400px;
            height: 300px;
            background-color: lightgray;
            border-radius: 20px 20px / 20px 20px;
            overflow: hidden;
            margin: 0px 10px 10px 0px;
        }
        #imgdiv{
            width: 400px;
            height: 300px;
            border-radius: 20px 20px / 20px 20px;
            margin: 0px 10px 10px 0px;
        }
        #imgdiv >img{
            width: 400px;
            height: 300px;
        }
        #addressDiv{
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container" layout:fragment="main">
    <form th:action="@{/petsitter/registerprofile}" id="registFrm" method="post" th:object="${petSitterRegisterDto}"
          enctype="multipart/form-data" class="container">
        <div >
            <div style="display: flex">
                <div>
                <div class="addImage" id="mainImage"></div><!-- 이미지 띄울 공간 여기에 새로 만들어진 이미지 태그가 append된다 -->
                <input type="file" onchange="mainImgLoad(this)" name="mainImage" multiple>
                </div>
                <div id="imgdiv">
                    <img th:src="${petSitterRegisterDto.mainImageUrl}" alt="" onclick="remove_confirm(src)" id="removeMainImage">
                </div>
            </div>

        </div>

        <div id="addressDiv">
            <!--            주소 찾기, 등록-->
            <input type="text" id="postcode" placeholder="우편번호" name="postcode" th:field="*{postcode}">
            <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
            <input type="text" id="address" placeholder="주소" name="address" th:field="*{address}"><br>
            <input type="text" id="detailAddress" placeholder="상세주소" name="detailAddress" th:field="*{detailAddress}">
            <input type="text" id="extraAddress" placeholder="참고항목" name="extraAddress" th:field="*{extraAddress}">
        </div>
        <div class="form-group">
            <h3>소개</h3>
            <div class="input-group">

                <label for="introduce"></label><textarea name="introduce" id="introduce" th:field="*{mainIntroduce}"
                                                         placeholder="소개글을 입력해주세요"></textarea>

            </div>
        </div>
<!--        <div class="container">-->
<!--            <div style="border: 1px solid black">-->
<!--                [[${petService}]]-->
<!--                [[${petSize}]]-->
<!--                [[${petService.contains('youngerPetWalk')}]]-->
<!--                <div>-->
<!--                    <label for="everydayWalk">-->
<!--                        <img th:src="@{/images/availableService/everydaywalk.PNG}" alt="everydayWalk">-->
<!--                        <input type="checkbox" name="availableServices" id="everydayWalk" value="everydayWalk"-->
<!--                               th:checked="${petService.contains('everydayWalk')}">-->

<!--                    </label>-->
<!--                    <label for="oldPetWalk">-->
<!--                        <img th:src="@{/images/availableService/oldpetwalk.PNG}" alt="노견산책">-->
<!--                        <input type="checkbox" name="availableServices" id="oldPetWalk" value="olderPetWalk"-->
<!--                               th:checked="${petService.contains('olderPetWalk')}">-->

<!--                    </label>-->
<!--                    <label for="youngerPetWalk">-->
<!--                        <img th:src="@{/images/availableService/youngerpetwalk.PNG}" alt="어린견산책">-->
<!--                        <input type="checkbox" name="availableServices" id="youngerPetWalk" value="youngerPetWalk"-->
<!--                               th:checked="${petService.contains('youngerPetWalk')}">-->
<!--                        &lt;!&ndash; th:checked="${#sets.contains(petService, T(com.sh.pettopia.choipetsitter.entity.availableServices).youngerPetWalk)}">&ndash;&gt;-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="">-->
<!--                    <label for="play">-->
<!--                        <img th:src="@{/images/availableService/play.PNG}" alt="실내놀이">-->
<!--                        <input type="checkbox" name="availableServices" id="play" alt="" value="play"-->
<!--                               th:checked="${petService.contains('play')}">-->
<!--                        &lt;!&ndash; th:checked="${#sets.contains(petService, T(com.sh.pettopia.choipetsitter.entity.availableServices).play)}">&ndash;&gt;-->
<!--                    </label>-->
<!--                    <label for="firstAid">-->
<!--                        <img th:src="@{/images/availableService/firstaid.PNG}" alt="응급처치">-->
<!--                        <input type="checkbox" name="availableServices" id="firstAid" value="firstAid"-->
<!--                               th:checked="${petService.contains('firstAid')}">-->
<!--                    </label>-->
<!--                    <label for="pickup">-->
<!--                        <img th:src="@{/images/availableService/pickup.PNG}" alt="도보픽업">-->
<!--                        <input type="checkbox" name="availableServices" id="pickup" value="walkPickup"-->
<!--                               th:checked="${petService.contains('walkPickup')}">-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="">-->
<!--                    <label for="brush">-->
<!--                        <img th:src="@{/images/availableService/brush.PNG}" alt="모발관리">-->
<!--                        <input type="checkbox" name="availableServices" id="brush" value="brush"-->
<!--                               th:checked="${petService.contains('brush')}">-->
<!--                    </label>-->
<!--                    <label for="medicine">-->
<!--                        <img th:src="@{/images/availableService/medicine.PNG}" alt="약먹이기">-->
<!--                        <input type="checkbox" name="availableServices" id="medicine" value="medicine"-->
<!--                               th:checked="${petService.contains('medicine')}">-->
<!--                    </label>-->
<!--                    <label for="longReservation">-->
<!--                        <img th:src="@{/images/availableService/longreservation.PNG}" alt="장기예약">-->
<!--                        <input type="checkbox" name="availableServices" id="longReservation" value="longReservation"-->
<!--                               th:checked="${petService.contains('longReservation')}">-->
<!--                    </label>-->
<!--                </div>-->

<!--            </div>-->
<!--            <div class="" style="border: 1px solid black; display: block;" id="availablePetSizes">-->
<!--                <label for="smallPet">-->
<!--                    <img th:src="@{/images/availablePetSize/smallpet.PNG}" alt="" class="petSize">-->
<!--                    <input type="checkbox" name="availablePetSizes" id="smallPet" value="smallPet"-->
<!--                           th:checked="${petSize.contains('smallPet')}">-->

<!--                </label>-->
<!--                <label for="middlePet">-->
<!--                    <img th:src="@{/images/availablePetSize/middlepet.PNG}" alt="" class="petSize">-->
<!--                    <input type="checkbox" name="availablePetSizes" id="middlePet" value="middlePet"-->
<!--                           th:checked="${petSize.contains('middlePet')}">-->
<!--                </label>-->
<!--                <label for="largePet">-->
<!--                    <img th:src="@{/images/availablePetSize/largepet.PNG}" alt="" class="petSize">-->
<!--                    <input type="checkbox" name="availablePetSizes" id="largePet" value="largePet"-->
<!--                           th:checked="${petSize.contains('largePet')}">-->

<!--                </label>-->
<!--            </div>-->
<!--        </div>-->

        <button type="submit" class="btn btn-primary">제출</button>
    </form>
    <script>
        function mainImgLoad(input) {
            const file = input.files[0]; // 선택된 파일 가져오기

            const newImage = document.createElement("img"); //새 이미지 추가

            //이미지 source 가져오기
            newImage.src = URL.createObjectURL(file);
            newImage.id = "img-id"
            newImage.style.width = "100%";
            newImage.style.height = "100%";
            newImage.style.objectFit = "cover";

            //이미지를 showImageDiv div에 추가
            console.log(newImage.src, newImage.id);
            const showImageDiv = document.getElementById('mainImage');
            if (showImageDiv.querySelector('img')) // 이미지를 출력하는 공간안에 img쿼리 셀렉터가 있는지 확인
            {
                showImageDiv.removeChild(showImageDiv.querySelector('img')); // 출력되는 div에 이미 올라가있는 이미지가 있으면 삭제를 한다
            }
            showImageDiv.append(newImage); // 출력되는 div 공간에 만들어진 image태그를 showImage에 append를 한다
            // 이미지 태그를 새로 만들어, div태그에 append하기 때문에 if문에서 삭제를 안해주면 그 아래로 계속 append가 된다
            //

        }
    </script>
    <script>
        function remove_confirm(src) {
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');
            console.log("header : "+header,"token : "+ token)
            // var formData=new FormData;
            // formData.append('image',imageUrl)
            console.log("src : "+src);

            if (confirm("사진을 제거 하시겠습니까??")) {

                $.ajax({
                    // beforeSend: function (xhr) {
                    //     xhr.setRequestHeader(header, token);
                    // },
                    url: '[[@{/petsitter/profileImage}]]',
                    method: 'post',
                    // enctype: 'multipart/form-data',
                    contentType: false, // false = content-type 헤더가 multipart/form-data로 전송하게 함
                    processData: false, // false = formData를 string으로 변환하지 않음
                    data: src,
                    success(responseText) {
                        alert("이미지가 정상제거 되었습니다");
                        console.log("responseText : "+responseText);
                        location.reload();
                        // console.log(responseText, textStatus, jqXhr);

                    }
                })

            }

        }
    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById("address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("detailAddress").focus();
                }
            }).open();
        }
    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</div>

</body>
</html>