<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>프로필 등록</title>
    <link href="/css/petsitter/registerprofile.css" rel="stylesheet">
</head>
<body>
<div class="container" layout:fragment="main">
    <div class="profile-container">
        <h3>프로필 등록</h3>
        <form th:action="@{/petsitter/registerprofile}" id="registFrm" method="post" th:object="${petSitterRegisterDto}"
              enctype="multipart/form-data">
            <div class="image-container">
                <div id="mainImage">
                    <img th:if="${not #strings.isEmpty(petSitterRegisterDto.mainImageUrl)}" th:src="${petSitterRegisterDto.mainImageUrl}" alt="" onclick="remove_confirm(src)" id="removeMainImage">
                    <img th:if="${#strings.isEmpty(petSitterRegisterDto.mainImageUrl)}" th:src="@{/images/petsitter/nothingImg.jpg}" alt="" >
                </div>
                <input type="file" onchange="mainImgLoad(this)" name="mainImage">
            </div>

            <div id="addressDiv">
                <label for="postcode">우편번호</label>
                <input type="text" id="postcode" placeholder="우편번호" name="postcode" th:field="*{postcode}">
                <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>

                <label for="address">주소</label>
                <input type="text" id="address" placeholder="주소" name="address" th:field="*{address}"><br>

                <label for="detailAddress">상세주소</label>
                <input type="text" id="detailAddress" placeholder="상세주소" name="detailAddress" th:field="*{detailAddress}">

                <label for="extraAddress">참고항목</label>
                <input type="text" id="extraAddress" placeholder="참고항목" name="extraAddress" th:field="*{extraAddress}">
            </div>

            <div class="form-group">
                <label for="introduce">소개</label>
                <textarea name="introduce" id="introduce" th:field="*{mainIntroduce}" placeholder="소개글을 입력해주세요"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">확인</button>
        </form>
    </div>

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script layout:fragment="js">
        function mainImgLoad(input) {
            const file = input.files[0];
            const newImage = document.createElement("img");
            newImage.src = URL.createObjectURL(file);
            newImage.style.width = "100%";
            newImage.style.height = "100%";
            newImage.style.objectFit = "cover";

            const showImageDiv = document.getElementById('mainImage');
            if (showImageDiv.querySelector('img')) {
                showImageDiv.removeChild(showImageDiv.querySelector('img'));
            }
            showImageDiv.append(newImage);
        }

        function remove_confirm(src) {
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');
            const parts = src.split('/');
            const fileNameWithExtension = parts[parts.length - 1];

            if (confirm("사진을 제거 하시겠습니까??")) {
                $.ajax({
                    url: '[[@{/petsitter/removeProfileImage}]]',
                    method: 'post',
                    processData: true,
                    data: {
                        fileNameWithExtension: fileNameWithExtension
                    },
                    success(responseText) {
                        alert("이미지가 정상제거 되었습니다");
                        location.reload();
                    }
                })
            }
        }

        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    var addr = '';
                    var extraAddr = '';

                    if (data.userSelectedType === 'R') {
                        addr = data.roadAddress;
                    } else {
                        addr = data.jibunAddress;
                    }

                    if (data.userSelectedType === 'R') {
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        document.getElementById("extraAddress").value = extraAddr;
                    } else {
                        document.getElementById("extraAddress").value = '';
                    }

                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById("address").value = addr;
                    document.getElementById("detailAddress").focus();
                }
            }).open();
        }
    </script>
</div>
</body>
</html>
