<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>돌봄 정보 등록</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/datepicker/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/css/datepicker/bootstrap-datepicker.js"></script>
    <script src="/css/datepicker/bootstrap-datepicker.ko.min.js" charset="UTF-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
    <link href="/css/petsitter/registerpost.css" rel="stylesheet">

</head>
<body>
<main layout:fragment="main" class="page-body">
    <input type="hidden" name="petSitterId" id="petSitterId" th:value="${dto.petSitterId}">
    <div class="sitting-container">
        <div>
            <span style="font-size: 25px; font-weight: bold">상태 : </span>
            <span style="font-size: 20px;" th:if="${dto.workStatus}" th:text="'돌봄 중'">상태 : </span>
            <span style="font-size: 20px;" th:if="${!dto.workStatus}" th:text="'쉬는 중...'">상태 : </span>
            <button  type="button" class="btn btn-primary" th:disabled="${dto.workStatus}"
                     onclick="WorkStatus(this)" style="float:right;" value="startWork" id="startWork">돌봄 시작</button>
            <button  type="button" class="btn btn-danger" th:disabled="${!dto.workStatus}" onclick="WorkStatus(this)" style="float:right;" value="stopWork" id="stopWork">돌봄 중지</button>
        </div>
        <h1>돌봄 정보 등록하기</h1>
        <form th:action="@{/petsitter/registerpost}" method="post" th:object="${dto}" enctype="multipart/form-data" onsubmit="return checkServiceAndPetSize()">
            <div class="form-container">
                <div class="gallery-container">
                    <div class="file-section">
                        <h4>프로필 사진</h4>
                        <div class="gallery-container">
                            <div class="arrow" id="prev">&#9664;</div>
                            <div class="gallery" id="file-gallery"></div>
                            <div class="arrow" id="next">&#9654;</div>
                        </div>
                        <input style="margin-left: 30%" type="file" id="fileInput" multiple name="files">
                    </div>

                    <div class="file-section">
                        <h4>자격증 및 수료증</h4>
                        <div class="gallery-container">
                            <div class="arrow" id="License-prev">&#9664;</div>
                            <div class="License-gallery" id="License-gallery"></div>
                            <div class="arrow" id="License-next">&#9654;</div>
                        </div>
                        <input type="file" style="margin-left: 40%" id="License-fileInput" multiple name="License_files">
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; width: 70%;">
                    <h4 style="margin-left: 50px;">등록한 프로필 사진</h4>
                    <h4 style="margin-left: 0px;">등록한 자격증 및 수료증</h4>
                </div>
<div style="display: flex">

                <div class="image-slider">
                    <div class="slides" id="slidesContainer1">
                        <img id="img1" th:each="images,stat: ${dto.PostImagesList}" th:if="${not #strings.isEmpty(images)}"
                             th:src="${images}" onclick="removeProfileImages(this.src)">
                        <img th:each="images,stat: ${dto.PostImagesList}" th:if="${#strings.isEmpty(images)}"
                             th:src="@{/images/petsitter/nothingImg.jpg}">
                    </div>
                    <button id="sliderPrev1" type="button" class="prev">&#10094;</button>
                    <button id="sliderNext1" type="button" class="next">&#10095;</button>
                </div>
                <div class="image-slider">
                    <div class="slides" id="slidesContainer2">
                        <img id="img2" th:each="images,stat: ${dto.licenseImages}" th:if="${not #strings.isEmpty(images)}"
                             th:src="${images}" onclick="removeLicenseImages(this.src)">
                        <img th:each="images,stat: ${dto.licenseImages}" th:if="${#strings.isEmpty(images)}"
                             th:src="@{/images/petsitter/nothingImg.jpg}">
                    </div>
                    <button id="sliderPrev2" type="button" class="prev">&#10094;</button>
                    <button id="sliderNext2" type="button" class="next">&#10095;</button>
                </div>
</div>


                <div class="form-group">
                    <div class="input-section">
                        <h3>한 줄 소개</h3>
                        <p>시터님의 게시글의 한 줄로 노출되는 소개글이에요. 보호자님들이 시터님을 선택할 있도록 강점을 잘 표현해주세요 :-)</p>
                        <!--                        <label for="oneLineIntroduce">-->
                        <!--                        </label>-->
                        <input type="text" name="oneLineIntroduce" id="oneLineIntroduce"
                               th:value="${dto.oneLineIntroduce}">
                    </div>
                    <div class="input-section">
                        <h3>소개글</h3>
                        <p>보호자님들이 소개글을 확인하고 반려동물 돌봄을 요청해요. 신뢰를 갖고 돌봄을 요청할 수 있도록 반려동물과 함께한 경험, 사랑하는 마음 등을 잘 표현해주세요 :
                            -) </p>
                        <textarea name="mainIntroduce" id="mainIntroduce" th:field="*{mainIntroduce}"
                                  placeholder="소개글을 입력해주세요"></textarea>
                    </div>
                </div>
                <div class="available-services">
                    <h3>제공 가능한 서비스 설정하기</h3>
                    <div class="services-container">
                        <label for="everydayWalk">
                            <img src='/svg/walk.png' class="available-service-image">
                            <p class="available-service-text">매일산책</p>
                            <span>산책 및 실외 배변 가능</span>
                            <input type="checkbox" name="availableServices" id="everydayWalk"
                                   value="everydayWalk"
                                   th:checked="${petService.contains('everydayWalk')}">

                        </label>
                        <label for="oldPetWalk">
                            <img src='/svg/oldDog.png' class="available-service-image">
                            <p class="available-service-text">노견 산책케어</p>
                            <span>8년 이상 노견 가능</span>
                            <input type="checkbox" name="availableServices" id="oldPetWalk"
                                   value="olderPetWalk"
                                   th:checked="${petService.contains('olderPetWalk')}">
                        </label>
                        <label for="youngerPetWalk">
                            <img src='/svg/puppy.png' class="available-service-image">
                            <p class="available-service-text">퍼피 산책케어</p>
                            <span>1년 미만 퍼피 가능</span>
                            <input type="checkbox" name="availableServices" id="youngerPetWalk"
                                   value="youngerPetWalk"
                                   th:checked="${petService.contains('youngerPetWalk')}">
                        </label>
                        <label for="play">
                            <img src='/svg/duck.png' class="available-service-image">
                            <p class="available-service-text">실내 놀이</p>
                            <span>터그 놀이, 노즈 워크 등</span>
                            <input type="checkbox" name="availableServices" id="play" value="play"
                                   th:checked="${petService.contains('play')}">
                        </label>
                        <label for="firstAid">
                            <img src='/svg/pharmacy.png' class="available-service-image">
                            <p class="available-service-text">응급 처리</p>
                            <span>응급 상황 시 병원 이동 가능</span>
                            <input type="checkbox" name="availableServices" id="firstAid"
                                   value="firstAid"
                                   th:checked="${petService.contains('firstAid')}">
                        </label>
                        <label for="pickup">
                            <img src='/svg/foot.png' class="available-service-image">
                            <p class="available-service-text">도보 픽업</p>
                            <span>비용은 파트너와 협의</span>
                            <input type="checkbox" name="availableServices" id="pickup"
                                   value="walkPickup"
                                   th:checked="${petService.contains('walkPickup')}">
                        </label>
                        <label for="brush">
                            <img src='/svg/brush.png' class="available-service-image">
                            <p class="available-service-text">모발 관리</p>
                            <span>눈물 또는 빗질 관리 가능</span>
                            <input type="checkbox" name="availableServices" id="brush" value="brush"
                                   th:checked="${petService.contains('brush')}">
                        </label>
                        <label for="medicine" >
                            <img src='/svg/medicine.png' class="available-service-image">
                            <p class="available-service-text">약물 복용</p>
                            <span>경구(입) 약물 복용 가능</span>
                            <input type="checkbox" name="availableServices" id="medicine"
                                   value="medicine"
                                   th:checked="${petService.contains('medicine')}">
                        </label>
                        <label for="longReservation">
                            <img src='/svg/calender.png' class="available-service-image">
                            <p class="available-service-text">장기 예약</p>
                            <span>14일 이상 예약 가능</span>
                            <input type="checkbox" name="availableServices" id="longReservation"
                                   value="longReservation"
                                   th:checked="${petService.contains('longReservation')}">
                        </label>

                    </div>
                </div>
                <div class="horizontal-container">
                    <div class="pet-size">
                        <h3>돌봄 가능한 댕댕이 크기</h3>
                        <div class="size-section">
                            <label for="smallPet" class="dogs">
                                <img src='/svg/cutiDog.svg' class="small-dog-image">
                                <p>소형견</p>
                                <input type="checkbox" name="availablePetSizes" id="smallPet" value="smallPet"
                                       th:checked="${petSize.contains('smallPet')}">
                            </label>
                            <label for="middlePet" class="dogs">
                                <img src='/svg/cutiDog.svg' class="medium-dog-image">
                                <p>중형견</p>
                                <input type="checkbox" name="availablePetSizes" id="middlePet" value="middlePet"
                                       th:checked="${petSize.contains('middlePet')}">
                            </label>
                            <label for="largePet" class="dogs">
                                <img src='/svg/cutiDog.svg' class="large-dog-image">
                                <p>대형견</p>
                                <input type="checkbox" name="availablePetSizes" id="largePet" value="largePet"
                                       th:checked="${petSize.contains('largePet')}">
                            </label>
                        </div>
                    </div>
                    <div class="date-picker-container">
                        <h3>돌봄이 불가능한 날짜를 선택해주세요!</h3>
                        <div class="date-picker">
                            <input type="text" id="impossibleDays" class="form-control" name="impossibleDays"
                                   th:value="${not #lists.isEmpty(dto.impossibleDays) ? dto.impossibleDays : ''}">
                        </div>
                    </div>
                </div>

                <button type="submit" class="submit-button">제출</button>
            </div>
        </form>
    </div>


    <script>
        function checkServiceAndPetSize() {
            const availableService = document.querySelectorAll('input[type="checkbox"][name="availableServices"]');
            var availableServiceCheck=false;
            var sizeCheck=false;

            for (let i = 0; i < availableService.length; i++) {
               if(availableService[i].checked)
               {
                   availableServiceCheck=true;
               }
            }


            const availableSize = document.querySelectorAll('input[type="checkbox"][name="availablePetSizes"]');
            for (let i = 0; i < availableSize.length; i++) {
                if(availableSize[i].checked)
                {
                    sizeCheck=true;
                }
            }

            if(!availableServiceCheck)
            {
                alert('적어도 하나의 서비스를 선택해야 합니다.')
                return false;
            }
            else if(!sizeCheck)
            {
                alert('적어도 하나의 크기를 선택해야 합니다.')
                return false;
            }
            else
                return true;


        }
    </script>
    <script>
        function removeProfileImages(src) {
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');
            console.log("src : " + src);
            const parts = src.split('/');
            const fileNameWithExtension = parts[parts.length - 1];

            console.log(fileNameWithExtension);

            if (confirm("사진을 제거 하시겠습니까??")) {

                $.ajax({

                    url: '[[@{/petsitter/removePostImage}]]',
                    method: 'post',
                    // contentType: false, // false = content-type 헤더가 multipart/form-data로 전송하게 함
                    processData: true, // false = formData를 string으로 변환하지 않음
                    data: {
                        fileNameWithExtension: fileNameWithExtension
                    },
                    success(responseText) {
                        alert("이미지가 정상제거 되었습니다");
                        console.log("responseText : " + responseText);
                        location.reload(); // 바로 새로고침
                    }
                })

            }

        }
    </script>
    <script>
        function removeLicenseImages(src) {
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');
            console.log("src : " + src);
            const parts = src.split('/');
            const licenseImage = parts[parts.length - 1];

            console.log(licenseImage);

            if (confirm("사진을 제거 하시겠습니까??")) {

                $.ajax({

                    url: '[[@{/petsitter/removeLicenseImage}]]',
                    method: 'post',
                    // contentType: false, // false = content-type 헤더가 multipart/form-data로 전송하게 함
                    processData: true, // false = formData를 string으로 변환하지 않음
                    data: {
                        licenseImage: licenseImage
                    },
                    success(responseText) {
                        alert("이미지가 정상제거 되었습니다");
                        console.log("responseText : " + responseText);
                        location.reload(); // 바로 새로고침
                    }
                })

            }

        }
    </script>
    <script>
        const impossibleDays = document.getElementById('impossibleDays');
        var dates = [[${dto.impossibleDays}]];
        flatpickr(impossibleDays, {
            dateFormat: "Y-m-d", // 날짜 및 시간 형식 설정 (예: 2023-09-12 15:30)
            // enableTime: true,        // 시간 선택 활성화
            // time_24hr: true,         // 24시간 형식 사용
            minDate: 'today',        // 오늘 이전 날짜 선택 비활성화
            maxDate: new Date().fp_incr(92), // 초대 출력 3개월
            // defaultDate: 'today',    // 초기 날짜 설정 (현재 날짜와 시간)
            disable: dates, // 특정 날짜 비활성화
            mode: "multiple",
            locale: 'ko',            // 한국어로 지역화
            inline: true,
            onOpen: function (selectedDates, dateStr, instance) {
                // 위젯이 열릴 때 실행할 코드
            },
            onClose: function (selectedDates, dateStr, instance) {
                // 위젯이 닫힐 때 실행할 코드
            },
            onChange: function (selectedDates, dateStr, instance) {
                // 날짜가 변경될 때 실행할 코드
            },
            disableMobile: true,      // 모바일 기기에서 위젯 비활성화
            // altInput: true,           // 추가 입력란 활성화
            // altFormat: 'F j, Y H:i', // 추가 입력란의 날짜 및 시간 형식
        });

        // 특정일 선택막기
    </script>
    <script>
        <!--        내가 올리려고 하는 라이센스 이미지 미리보기 슬라이드-->
        const fileInput = document.getElementById('License-fileInput');
        const gallery = document.getElementById('License-gallery');
        let currentIndex = 0;
        let imageElements = [];

        fileInput.addEventListener('change', (event) => {
            const files = event.target.files;
            gallery.innerHTML = '';  // 갤러리 초기화
            imageElements = [];

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();

                reader.onload = function (e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    gallery.appendChild(img);
                    imageElements.push(img);

                    // 처음 이미지만 표시
                    if (imageElements.length > 1) {
                        img.style.display = 'none';
                    }
                };

                reader.readAsDataURL(file);
            }

            currentIndex = 0; // 인덱스 초기화
        });

        document.getElementById('License-next').addEventListener('click', () => {
            if (currentIndex < imageElements.length - 1) {
                imageElements[currentIndex].style.display = 'none';
                currentIndex++;
                imageElements[currentIndex].style.display = 'block';
            }
        });

        document.getElementById('License-prev').addEventListener('click', () => {
            if (currentIndex > 0) {
                imageElements[currentIndex].style.display = 'none';
                currentIndex--;
                imageElements[currentIndex].style.display = 'block';
            }
        });
    </script>
    <script>
        <!--        내가 올리려고 하는 이미지 미리보기 슬라이드-->
        const fileInput1 = document.getElementById('fileInput');
        const gallery1 = document.getElementById('file-gallery');
        let filecurrentIndex = 0;
        let fileimageElements = [];

        fileInput1.addEventListener('change', (event) => {
            console.log("Image loaded:", event.target.result); // Debugging line
            const files = event.target.files;
            gallery1.innerHTML = '';  // 갤러리 초기화
            fileimageElements = [];

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();

                reader.onload = function (e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    gallery1.appendChild(img);
                    fileimageElements.push(img);

                    // 처음 이미지만 표시
                    if (fileimageElements.length > 1) {
                        img.style.display = 'none';
                    }
                };

                reader.readAsDataURL(file);
            }

            filecurrentIndex = 0; // 인덱스 초기화
        });

        document.getElementById('next').addEventListener('click', () => {
            if (filecurrentIndex < fileimageElements.length - 1) {
                fileimageElements[filecurrentIndex].style.display = 'none';
                filecurrentIndex++;
                fileimageElements[filecurrentIndex].style.display = 'block';
            }
        });

        document.getElementById('prev').addEventListener('click', () => {
            if (filecurrentIndex > 0) {
                fileimageElements[filecurrentIndex].style.display = 'none';
                filecurrentIndex--;
                fileimageElements[filecurrentIndex].style.display = 'block';
            }
        });
    </script>

    <script>
        <!--        내가 등록한 이미지 슬라이드 -->
        document.addEventListener('DOMContentLoaded', function (e) {
            e.preventDefault();
            const slides = document.querySelector('.slides');
            const images = slides.querySelectorAll('img');
            let currentIndex = 0;

            // Only apply sliding if there are more than 3 images
            if (images.length > 3) {
                const totalImages = images.length;
                const slideWidth = images[0].clientWidth;

                // Event listener for the 'Next' button
                document.querySelector('.next').addEventListener('click', function () {
                    currentIndex = (currentIndex + 1) % totalImages;
                    slides.style.transform = translateX($
                    {
                        -currentIndex * slideWidth
                    }
                    px
                )

                });

                // Event listener for the 'Prev' button
                document.querySelector('.prev').addEventListener('click', function () {
                    currentIndex = (currentIndex - 1 + totalImages) % totalImages;
                    slides.style.transform = translateX($
                    {
                        -currentIndex * slideWidth
                    }
                    px
                )

                });
            } else {
                document.querySelector('.prev').style.display = 'none';
                document.querySelector('.next').style.display = 'none';
            }
        });

        document.querySelector('form').addEventListener('submit', function(event) {
            let checkedValues = [];
            document.querySelectorAll('input[name="petSize[]"]:checked').forEach((checkbox) => {
                checkedValues.push(checkbox.value);
            });
            // 서버로 보내기 전에 콘솔로 확인
            console.log('Checked Values:', checkedValues);
        });

    </script>

<!--    돌봄 시작, 중지 버튼 -->
    <script>
        function WorkStatus(status){
            const startWorkBtn=document.getElementById('startWork');
            const stopWorkBtn=document.getElementById('stopWork');
            const petSitterId=document.getElementById('petSitterId')
            if(status.value === 'startWork')
            {
                console.log(status.value)
                $.ajax({
                    url: '[[@{/petsitter/workstatus}]]',
                    method: 'post',
                    data : {
                        workStatus:status.value,
                        petSitterId:petSitterId.value
                    },
                    success(responseText) {
                        alert('정상적으로 돌봄 시작이 되었습니다.')
                        location.reload(); // 바로 새로고침
                    }
                })
            }
            else
            {
                confirm('돌봄 중지를 하면 모든 예약이 취소됩니다.')
                {
                    $.ajax({
                        url: '[[@{/petsitter/workstatus}]]',
                        method: 'post',
                        data: {
                            workStatus: status.value,
                            petSitterId: petSitterId.value
                        },
                        success(responseText) {
                            alert('정상적으로 돌봄 중지가 되었습니다.')
                            console.log("responseText : " + responseText);
                            location.reload(); // 바로 새로고침
                        }
                    })
                }
            }
        }
    </script>

<!--    내가 등록했엇던 이미지 슬라이스-->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            function initializeSlider(slidesContainerId, prevButtonId, nextButtonId) {
                const slidesContainer = document.getElementById(slidesContainerId);
                const images = slidesContainer.querySelectorAll('img');
                const prevButton = document.getElementById(prevButtonId);
                const nextButton = document.getElementById(nextButtonId);
                const totalImages = images.length;
                let currentIndex = 0;
                const visibleImages = 1; // Number of images visible in the slider
                const imageWidth = slidesContainer.clientWidth / visibleImages;

                // Set the width of each image and the slides container
                slidesContainer.style.width = `${totalImages * imageWidth}px`;
                images.forEach(image => {
                    image.style.width = `${imageWidth}px`;
                });

                // Hide buttons if images are 1 or less
                if (totalImages <= visibleImages) {
                    prevButton.style.display = 'none';
                    nextButton.style.display = 'none';
                }

                // Function to move to the next slide
                function moveToNextSlide() {
                    if (currentIndex < totalImages - visibleImages) {
                        currentIndex++;
                        updateSliderPosition();
                    }
                }

                // Function to move to the previous slide
                function moveToPrevSlide() {
                    if (currentIndex > 0) {
                        currentIndex--;
                        updateSliderPosition();
                    }
                }

                // Function to update the slider's position
                function updateSliderPosition() {
                    slidesContainer.style.transform = `translateX(-${currentIndex * imageWidth}px)`;
                }

                // Event listeners for the buttons
                nextButton.addEventListener('click', moveToNextSlide);
                prevButton.addEventListener('click', moveToPrevSlide);
            }

            // Initialize the first slider
            initializeSlider('slidesContainer1', 'sliderPrev1', 'sliderNext1');
            // Initialize the second slider
            initializeSlider('slidesContainer2', 'sliderPrev2', 'sliderNext2');
        });
    </script>
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
</main>
</body>
</html>

