<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>예약 상세보기</title>
    <style>
        table, th, td {
            align-self: center;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }

    </style>
</head>
<body>
<div>
    <a class="btn btn-primary" onClick="window.close()">목록보기</a>
    <br><br>
    <h5>돌봄 상세</h5>
<!--    보는 사람 == 펫시터 회원의 회원의 아이디를 보여준다-->
    <div th:object="${reservationinfo}" th:if="${#authentication.principal.member.email == reservationinfo.getPetSitterId}">
        회원 : <span th:text="${reservationinfo.memberId}"></span>
    </div>
<!--    보는 사람 != 펫시터 그럼 펫시터의 아이디를 보여준다 -->
    <div th:object="${reservationinfo}" th:if="${#authentication.principal.member.email != reservationinfo.getPetSitterId}">
        펫시터 : <span th:text="${reservationinfo.petSitterId}"></span>
    </div>
    <div th:object="${reservationinfo}">
        <table cellpadding="10px" class="table">
            <thead>
            <tr>
                <th>요청 날짜</th>
                <th>예약 날짜</th>
                <th>시작, 종료</th>
                <th>견종, 마리</th>
                <th>금액</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${#temporals.format(reservationinfo.createdAt, 'yyyy-MM-dd/a hh:mm')}"></td>
                <td th:text="${reservationinfo.reservationDay}" name="reservationDay"></td>
                <td>
                    <span th:text="${reservationinfo.startTime}" name="startTime"></span>
                    <span th:text="${reservationinfo.endTime}" name="endTime"></span>
                </td>
                <td>
                    <div th:each="sizehowmany:${reservationinfo.petSizeAndHowManyPets}">
                        <span th:text="${sizehowmany.petSize}" name="petSize"></span>
                        <span th:text="${sizehowmany.howManyPet}"></span>
                    </div>
                </td>
                <td th:text="${reservationinfo.total_amount}"></td>
            </tr>
            </tbody>
        </table>
        <div class="table">
            <h2>참고 사항</h2>
            <div style="border: solid 1px black">
                <p th:text="${reservationinfo.note}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>