<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>예약 리스트</title>

    <script>
        function showSection(sectionId) {
            // 모든 섹션을 숨기기

            document.getElementById('Iwilltakecareofyou').style.display = 'none';
            document.getElementById('Pleasetakecare').style.display = 'none';
            // 선택된 섹션만 보이기
            var section = document.getElementById(sectionId);
            section.style.display = 'block';

            // 선택된 섹션으로 스크롤 이동
            section.scrollIntoView({behavior: 'smooth'});
        }
    </script>
</head>
<body>
<div class="container" layout:fragment="main">
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}">Home  <i
                            class="ion-ios-arrow-forward"></i></a></span>
                        <span>펫시터
							<i class="ion-ios-arrow-forward"></i>
						</span>
                    </p>
                    <h1 class="mb-0 bread">예약 리스트</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="row justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">오늘도 좋은 서비스 부탁드립니다^^</h2>
                </div>
            </div>

        <div class="col-md-10">
            <div class="wrapper">
                <!-- 버튼 추가 영역 -->
                <div class="row mb-1 justify-content-center">
                    <div class="col-md-3">
                        <button class="btn btn-primary w-50" onclick="showSection('Iwilltakecareofyou')">돌봐드려요
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary w-50" onclick="showSection('Pleasetakecare')">돌봐주세요
                        </button>
                    </div>
                </div>


                <div id="Iwilltakecareofyou" style="display:none;">
                    <table class="table" style="text-align: center">
                        <thead>
                        <tr>
                            <th></th>
                            <th>주문회원</th>
                            <th>요청 날짜</th>
                            <th>예약 날짜</th>
                            <th>시작, 종료</th>
                            <th>금액</th>
                            <th>수락, 취소</th>
                            <th>상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="info , stat : ${reservationDtoList}" th:object="${reservationDtoList}">
                            <!--            [[${info.partnerOrderId}]]-->
                            <form id="reservationForm" method="post" th:object="${info}">
                                <label>
                                    <input type="hidden" th:value="${info.partnerOrderId}" name="partnerOrderId">
                                </label>
                                <td>
                                    <a th:href="@{|/petsitter/reservationdetail/${info.partnerOrderId}|}"
                                       onclick="window.open(this.href, '_blank', 'left=2000%,top=800%, width=900, height=700'); return false;">자세히</a>
                                </td>
                                <td><span th:text="${info.memberId}" name="memberId"></span></td>
                                <td><span th:text="${#temporals.format(info.createdAt, 'yyyy-MM-dd/a hh:mm')}"
                                          name="createdAt"></span>
                                </td>
                                <td><span th:text="${info.reservationDay}" name="reservationDay"></span></td>
                                <td>
                                    <span th:text="${info.startTime}" name="startTime"></span>
                                    <span th:text="${info.endTime}" name="endTime"></span>
                                </td>
                                <td>
                                    <span th:text="${#numbers.formatInteger(info.total_amount, 3, 'COMMA')}"></span>
                                </td>
                                <td>
                                    <div th:block th:if="${info.reservationStatus.getReservationStatus()} != 'cancel'">
                                        <button type="submit" id="readyButton"
                                                th:formaction="@{/petsitter/reservationOk}"
                                                class="btn btn-primary"
                                                th:if="${info.reservationStatus.getReservationStatus()} == 'ready'"
                                                th:text="요청승인"></button>
                                        <button type="submit" id="cancelButton" class="btn btn-danger"
                                                th:formaction="@{/petsitter/reservationCancel}">요청취소
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <span th:if="${info.reservationStatus.getReservationStatus()} == 'ready'"
                                          th:text="요청대기"></span>
                                    <span th:if="${info.reservationStatus.getReservationStatus()} == 'cancel'"
                                          th:text="요청취소"></span>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table" style="text-align: center">
                        <thead>
                        <tr>
                            <th></th>
                            <th>주문회원</th>
                            <th>요청 날짜</th>
                            <th>예약 날짜</th>
                            <th>시작, 종료</th>
                            <th>사이즈</th>
                            <th>상태 변경</th>
                            <th>돌봄 상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sitting , stat : ${sittinglist}" th:object="${sitting}">
                            <form id="sittingForm" method="post" th:object="${sitting}">
                                <label>
                                    <input type="hidden" th:value="${sitting.partnerOrderId}" name="partnerOrderId">
                                </label>
                                <td>
                                    <a th:href="@{|/petsitter/sittingdetail/${sitting.partnerOrderId}|}"
                                       onclick="window.open(this.href, '_blank', 'left=2000%,top=800%, width=900, height=700'); return false;">자세히</a>
                                </td>
                                <td><span th:text="${sitting.memberId}" name="memberId"></span></td>
                                <td><span th:text="${#temporals.format(sitting.createdAt, 'yyyy-MM-dd/a hh:mm')}"
                                          name="createdAt"></span></td>
                                <td><span th:text="${sitting.serviceDate}" name="reservationDay"></span></td>
                                <td>
                                    <span th:text="${sitting.startTime}" name="startTime"></span>
                                    <span th:text="${sitting.endTime}" name="endTime"></span>
                                </td>
                                <td th:object="${sitting.petSizeAndHowManyPets}">
                                    <div th:if="${#lists.size(sitting.petSizeAndHowManyPets) >= 2}">
                                        <span th:text="${sitting.petSizeAndHowManyPets[0].petSize}"
                                              name="petSize"></span>
                                        <span th:text="${sitting.petSizeAndHowManyPets[0].howManyPet}"></span>
                                        <span th:text="'외...'"></span>
                                    </div>
                                    <div th:if="${#lists.size(sitting.petSizeAndHowManyPets) <2}">
                                        <span th:text="${sitting.petSizeAndHowManyPets[0].petSize}"
                                              name="petSize"></span>
                                        <span th:text="${sitting.petSizeAndHowManyPets[0].howManyPet}"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button type="submit" th:formaction="@{/petsitter/sitting}"
                                                class="btn btn-primary"
                                                th:if="${sitting.sittingStatus.getSittingStatus()} == 'StandbySitting'"
                                                th:text="돌봄시작" id="startButton" value="START_SITTING"
                                                name="sittingStatus"></button>
                                        <button type="submit" th:formaction="@{/petsitter/sitting}"
                                                class="btn btn-primary"
                                                th:if="${sitting.sittingStatus.getSittingStatus()} == 'START_SITTING'"
                                                th:text="돌봄완료" id="completeButton" value="COMPLETED_SITTING"
                                                name="sittingStatus"></button>
                                    </div>
                                </td>
                                <td>
                                    <div>
                        <span th:if="${sitting.sittingStatus.getSittingStatus()} == 'StandbySitting'"
                              th:text="돌봄대기"></span>
                                        <span th:if="${sitting.sittingStatus.getSittingStatus()} == 'START_SITTING'"
                                              th:text="돌봄중"></span>
                                        <span th:if="${sitting.sittingStatus.getSittingStatus()} == 'WAITING_MEMBER_CHECK'"
                                              th:text="승인대기중" id="completedSitting"></span>
                                        <span th:if="${sitting.sittingStatus.getSittingStatus()} == 'COMPLETED_SITTING'"
                                              th:text="돌봄완료"></span>
                                    </div>

                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>

                </div>



                <div id="Pleasetakecare" style="display:none;">
                    <table class="table" style="text-align: center">
                        <thead>
                        <tr>
                            <th></th>
                            <th>주문회원</th>
                            <th>요청 날짜</th>
                            <th>예약 날짜</th>
                            <th>시작, 종료</th>
                            <th>사이즈</th>
                            <th>상태 변경</th>
                            <th>돌봄 상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sitting , stat : ${sittinglist}" th:object="${sitting}">
                            <form id="reservationForm" method="post" th:object="${sitting}">
                                <label>
                                    <input type="hidden" th:value="${sitting.partnerOrderId}" name="partnerOrderId">
                                </label>
                                <td>
                                    <a th:href="@{|/petsitter/sittingdetail/${sitting.partnerOrderId}|}"
                                       onclick="window.open(this.href, '_blank', 'left=2000%,top=800%, width=900, height=700'); return false;">자세히</a>
                                </td>
                                <td><span th:text="${sitting.memberId}" name="memberId"></span></td>
                                <td><span th:text="${#temporals.format(sitting.createdAt, 'yyyy-MM-dd/a hh:mm')}"
                                          name="createdAt"></span></td>
                                <td><span th:text="${sitting.serviceDate}" name="reservationDay"></span></td>
                                <td>
                                    <span th:text="${sitting.startTime}" name="startTime"></span>
                                    <span th:text="${sitting.endTime}" name="endTime"></span>
                                </td>
                                <td th:object="${sitting.petSizeAndHowManyPets}">
                                    <div th:if="${#lists.size(sitting.petSizeAndHowManyPets) >= 2}">
                                        <span th:text="${sitting.petSizeAndHowManyPets[0].petSize}"
                                              name="petSize"></span>
                                        <span th:text="${sitting.petSizeAndHowManyPets[0].howManyPet}"></span>
                                        <span th:text="'외...'"></span>
                                    </div>
                                    <div th:if="${#lists.size(sitting.petSizeAndHowManyPets) <2}">
                                        <span th:text="${sitting.petSizeAndHowManyPets[0].petSize}"
                                              name="petSize"></span>
                                        <span th:text="${sitting.petSizeAndHowManyPets[0].howManyPet}"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button type="submit" th:formaction="@{/petsitter/sitting}"
                                                class="btn btn-primary"
                                                th:if="${sitting.sittingStatus.getSittingStatus()} == 'StandbySitting'"
                                                th:text="돌봄시작" id="startButton" value="START_SITTING"
                                                name="sittingStatus"></button>
                                        <button type="submit" th:formaction="@{/petsitter/sitting}"
                                                class="btn btn-primary"
                                                th:if="${sitting.sittingStatus.getSittingStatus()} == 'START_SITTING'"
                                                th:text="돌봄완료" id="completeButton" value="COMPLETED_SITTING"
                                                name="sittingStatus"></button>
                                    </div>
                                </td>
                                <td>
                                    <div>
                        <span th:if="${sitting.sittingStatus.getSittingStatus()} == 'StandbySitting'"
                              th:text="돌봄대기"></span>
                                        <span th:if="${sitting.sittingStatus.getSittingStatus()} == 'START_SITTING'"
                                              th:text="돌봄중"></span>
                                        <span th:if="${sitting.sittingStatus.getSittingStatus()} == 'WAITING_MEMBER_CHECK'"
                                              th:text="승인대기중" id="completedSitting"></span>
                                        <span th:if="${sitting.sittingStatus.getSittingStatus()} == 'COMPLETED_SITTING'"
                                              th:text="돌봄완료"></span>
                                    </div>

                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>