<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>일정표</title>
</head>
<body>
<div class="container" layout:fragment="main">
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}">Home  <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>펫시터
							<i class="ion-ios-arrow-forward"></i>
						</span>
                    </p>
                    <h1 class="mb-0 bread">돌봄 리스트</h1>
                </div>
            </div>
        </div>
    </section>
    <table class="table" style="text-align: center">
        <thead>
        <tr>
            <th></th>
            <th>주문회원</th>
            <th>요청 날짜</th>
            <th>예약 날짜</th>
            <th>시작, 종료</th>
            <th>사이즈</th>
            <th>상태 변경</th>
            <th>돌봄 상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sitting , stat : ${sittinglist}" th:object="${sitting}">
<!--            [[${sitting}]]-->
<!--            [[${sitting.petSizeAndHowManyPets}]]-->
            <form id="reservationForm" method="post" th:object="${sitting}">
                <label>
                    <input type="hidden" th:value="${sitting.partnerOrderId}" name="partnerOrderId">
                </label>
                <td>
                    <a th:href="@{|/petsitter/sittingdetail/${sitting.partnerOrderId}|}"
                       onclick="window.open(this.href, '_blank', 'left=2000%,top=800%, width=900, height=700'); return false;" >자세히</a>
                </td>
                <td><span th:text="${sitting.memberId}" name="memberId"></span></td>
                <td><span th:text="${#temporals.format(sitting.createdAt, 'yyyy-MM-dd/a hh:mm')}"
                          name="createdAt"></span></td>
                <td><span th:text="${sitting.serviceDate}" name="reservationDay"></span></td>
                <td>
                    <span th:text="${sitting.startTime}" name="startTime"></span>
                    <span th:text="${sitting.endTime}" name="endTime"></span>
                </td>
                <td th:object="${sittinglist.petSizeAndHowManyPets}">
                    <div th:if="${#lists.size(sittinglist.petSizeAndHowManyPets) >= 2}">
                        <span th:text="${sittinglist.petSizeAndHowManyPets[0].petSize}" name="petSize"></span>
                        <span th:text="${sittinglist.petSizeAndHowManyPets[0].howManyPet}"></span>
                        <span th:text="'외...'"></span>
                    </div>
                    <div th:if="${#lists.size(sittinglist.petSizeAndHowManyPets) <2}">
                        <span th:text="${sitting.sittinglist[0].petSize}" name="petSize"></span>
                        <span th:text="${sitting.sittinglist[0].howManyPet}"></span>
                    </div>
                </td>
                <td>
                    <div>
                        <button type="submit" th:formaction="@{/petsitter/sitting}" class="btn btn-primary" th:if="${sitting.sittingStatus.getSittingStatus()} == 'StandbySitting'"
                                th:text="돌봄시작" id="startButton" value="START_SITTING" name="sittingStatus" ></button>
                        <button type="submit" th:formaction="@{/petsitter/sitting}" class="btn btn-primary" th:if="${sitting.sittingStatus.getSittingStatus()} == 'START_SITTING'"
                                th:text="돌봄완료" id="completeButton" value="COMPLETED_SITTING" name="sittingStatus"></button>
                    </div>
                </td>
                <td>
                    <div>
                        <span th:if="${sitting.sittingStatus.getSittingStatus()} == 'StandbySitting'"
                              th:text="돌봄대기" ></span>
                        <span th:if="${sitting.sittingStatus.getSittingStatus()} == 'START_SITTING'"
                              th:text="돌봄중"></span>
                        <span th:if="${sitting.sittingStatus.getSittingStatus()} == 'WAITING_MEMBER_CHECK'"
                              th:text="승인대기중" id="completedSitting"></span>
                        <span th:if="${sitting.sittingStatus.getSittingStatus()} == 'COMPLETED_SITTING'"
                              th:text="돌봄완료"></span>
                    </div>

                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>