<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>돌봄 상세보기</title>
    <style>
        table, th, td {
            align-self: center;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <a class="btn btn-primary" onClick="window.close()">목록보기</a>
    <br><br>
    <h5>돌봄 상세</h5>
    <div th:object="${sittinginfo}">
        회원 : <span th:text="${sittinginfo.memberId}"></span>
    </div>
    <div th:object="${sittinginfo}">
        <table cellpadding="10px" class="table">
            <thead>
            <tr>
                <th>요청 날짜</th>
                <th>예약 날짜</th>
                <th>시작, 종료</th>
                <th>견종, 마리</th>
                <th>금액</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${#temporals.format(sittinginfo.createdAt, 'yyyy-MM-dd/a hh:mm')}"></td>
                <td th:text="${sittinginfo.serviceDate}" name="reservationDay"></td>
                <td>
                    <span th:text="${sittinginfo.startTime}" name="startTime"></span>
                    <span th:text="${sittinginfo.endTime}" name="endTime"></span>
                </td>
                <td>
                    <div th:each="sizehowmany:${sittinginfo.petSizeAndHowManyPets}">
                        <span th:text="${sizehowmany.petSize}" name="petSize"></span>
                        <span th:text="${sizehowmany.howManyPet}"></span>
                    </div>
                </td>
                <td th:text="${sittinginfo.total_amount}"></td>
            </tr>
            </tbody>
        </table>
        <div class="table">
            <h2>참고 사항</h2>
            <div>
                <p th:text="${sittinginfo.note}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>