.form-row {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group .form-control {
    display: inline-block;
}

.form-group .form-control.btn {
    width: 100px;
}

/* Make the submit button full width */
.btn-primary {
    width: 100%;
    display: block;
}

.title {
    writing-mode: horizontal-tb;
}

.btn-group-toggle .btn {
    margin: 5px;
}

.btn-outline-primary {
    border-color: #00bd56;
    color: #00bd56;
    margin:0 0;
}

.btn-outline-primary:hover {
    background-color: #00bd56;
    color: white;
}
.btn-outline-primary:checked{
    -webkit-box-shadow: 0 0 0 0.2rem #00bd56;
    box-shadow: 0 0 0 0.2rem #00bd56;
}