<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>펫토피아</title>
    <link href="/css/mainPage/index.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="main">
<!--    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>-->
<!--    <script src="/js/ring/ring.js"></script>-->

    <div class="main-content">
        <div class="text-content">
            <h1 class="serviceIntro">반려동물 종합 케어 플랫폼,<br>펫토피아</h1>
            <div class="features">
                <span class="active" onclick="showContent('펫시팅')">펫시팅</span>
                <span onclick="showContent('병원 약국 미용')">병원 약국 미용</span>
                <span onclick="showContent('커뮤니티')">커뮤니티</span>
            </div>
            <p id="feature-description">
                요청사항에 맞는 식사를 급여하며 배변 치우기 등 간단한 환경정리를 진행합니다.
            </p>
            <a th:href="@{/pet/registPet}" class="cta-button">펫 등록하러 가기</a>
        </div>
        <div class="image-content">
            <img src='/svg/badukDog.svg' class="main-image">
        </div>
    </div>

    <div class="trustworthy-container">
        <div class="trustworthy-title">
            일대일 맞춤 돌봄 서비스
            <br>원하는 시간과 상황에 따라 자유로운 돌봄이 가능해요!

        </div>

        <div class="trustworthy-content">
            <div class="trustworthy-item">
                <img src='/svg/brownDog.svg' class="main-image">
                <a th:href="@{/petsitterfinder/careregistrationlist}" class="sitting-button">돌봐주세요</a>
            </div>
            <div class="trustworthy-item">
                <img src='/svg/whiteDog.svg' class="main-image">
                <a th:href="@{/petsitter/list}" class="sitting-button">돌봐드려요</a>
            </div>

        </div>
    </div>

    <!-- 지도 & 영수증 기반 기업 정보  -->
    <div class="trustworthy-container service-container">
        <div class="service-title">내 <span>주변</span> 펫 케어 서비스 위치 제공</div>
        <div class="trustworthy-content">
            <div class="trustworthy-item">
                <img src='/svg/hospital.svg' class="main-image">
                <p class="service-content">병원</p>
            </div>
            <div class="trustworthy-item">
                <img src='/svg/pharmacy.svg' class="main-image">
                <p class="service-content">약국</p>
            </div>
            <div class="trustworthy-item">
                <img src='/svg/salon.svg' class="main-image">
                <p class="service-content">미용</p>
            </div>
        </div>
        <a th:href="@{/enterprise/location}" class="enterprise-button">주변 병원 • 약국 • 미용실 위치 보러 가기</a>
    </div>

    <div class="trustworthy-container review-container">
        <div class="trustworthy-title" style="display: flex">
            <!-- 지도 이미지 -->
            <img src='/svg/map.svg' class="ocr-image bounce">
            <div style="margin-right: 30px">
                <strong>현재 위치</strong>와 <strong>영수증 인증</strong>으로
                <br>정확하고 신뢰도 있는 후기 보장✨
            </div>

            <!-- 영수증 이미지 -->
            <img src='/svg/receipt.svg' class="ocr-image bounce">
        </div>

        <!--/* 리뷰 카드 모음 */-->
        <div class="review-cards">
            <!-- 첫 번째 리뷰 카드 -->
            <div class="review-card">
                <div class="review-content">
                    <div class="review-title">
                        <span class="badge">Best</span>
                        <div class="stars">★★★★★</div>
                        <span>강남구 역삼동</span>
                    </div>
                    <div class="review-meta">5월 7일</div>
                    <div class="review-text">
                        펫토피아에서 후기 보고 갔어요~~!! 노견을 돌본다는 게 심적으로도 쉽지 않을 실텐데 돌봄 수락해주시고 매번 살뜰히 반려인의
                        마음으로 돌봐주셔서
                        든든하고 감사드립니당)_(
                    </div>
                </div>
                <div class="review-image">
                    <img src="https://via.placeholder.com/70" alt="리뷰 이미지">
                </div>
            </div>

            <!-- 두 번째 리뷰 카드 -->
            <div class="review-card">
                <div class="review-content">
                    <div class="review-title">
                        <span class="badge">Best</span>
                        <div class="stars">★★★★★</div>
                        <span>강남구 삼성동</span>
                    </div>
                    <div class="review-meta">7월 19일</div>
                    <div class="review-text">
                        필요한 약을 빠르게 받아볼 수 있었고, 우리 절망이에게 필요한 다른 용품도 한 번에 구매할 수 있어서 정말 편리했네요 ㅎㅎ
                        <br>펫토피아 후기 믿음직스럽네용!!!>_<
                    </div>
                </div>
                <div class="review-image">
                    <img src="https://via.placeholder.com/70" alt="리뷰 이미지">
                </div>
            </div>

            <!-- 세 번째 리뷰 카드 -->
            <div class="review-card">
                <div class="review-content">
                    <div class="review-title">
                        <span class="badge">Best</span>
                        <div class="stars">★★★★★</div>
                        <span>강남구 삼성동</span>
                    </div>
                    <div class="review-meta">8월 12일</div>
                    <div class="review-text">
                        희망이가 긴장을 많이 하는 편인데, 미용사님이 정말 부드럽게 잘 다뤄주셔서 강아지가 편안하게 미용을 받을 수 있었네요ㅜㅡㅜ. 미용도 너무 이쁘게 돼서 다음에 또 방문하려고
                        합니다!!
                    </div>
                </div>
                <div class="review-image">
                    <img src="https://via.placeholder.com/70" alt="리뷰 이미지">
                </div>
            </div>
        </div>
    </div>

    <div class="trustworthy-container service-container community-container">
        <div class="service-title">커뮤니티</div>
        <div class="trustworthy-content">
            <div class="trustworthy-item">
                <img src='/svg/community.svg' class="main-image">
            </div>
            <div class="trustworthy-item">
                <img src='/svg/community2.svg' class="main-image">
            </div>
        </div>
        <a th:href="@{/community/postList}" class="sitting-button enterprise-button">커뮤니티 보러가기</a>
    </div>
    <script layout:fragment="js" th:src="@{/js/mainPage/index.js}"></script>
</main>
</body>
</html>