<!DOCTYPE html>
<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>병원리뷰</title>
    <link href="/css/enterprise/detail.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div class="page-body" layout:fragment="main">
    <div class="navi_right set-mobile-width is-active">
        <div class="head">
            <div class="hos_info">
                <div class="hos_info_top">
                    <h2 id="entName" th:text="${enterpriseDetail.entName}"></h2>
                    <p th:utext="${entType} + ' | <span style=&quot;color: gold;&quot;>★</span> ' + (${averageRating} != null ? ${averageRating} : 0.0)"></p>
                </div>
                <div>
                    <i class="fa-solid fa-location-dot" style="margin-right: 7px;"></i>
                    <span class="entAddress" th:text="${enterpriseDetail.entAddress}"></span>
                    <br><br>
                </div>

            </div>
            <div class="actions">
                <a class="btn call" th:href="'tel:' + ${#strings.replace(enterpriseDetail.entPhone, '-', '')}">전화하기</a>
                <button class="btn appointment">예약하기</button>
                <button class="btn details">길찾기</button>
            </div>
        </div>
        <div class="body">
            <p class="tab_wrap">
                <button class="tab_button btn_info" id="btnEnterpriseInfo" th:text="${entType} + ' 정보'"></button>
                <button class="tab_button btn_reviews" id="btnReviews">후기 <span class="num"  th:text="'(' + ${reviewCount} + ')'"></span></button>
            </p>
            <div class="tab_inner" id="enterpriseInfoTab" >
                <div class="info_box">
                    <ul class="info_box-list">
                        <li>
                            <i class="fas fa-phone"></i>
                            <span id="entPhone" th:text="${enterpriseDetail.entPhone}"></span>
                            <a href="#" type="button" style="margin-left: 10px;">복사</a>
                        </li>
                        <li>
                            <i class="fa-regular fa-clock"></i>
                            <span id="officeHours" th:text="${enterpriseDetail.officeHours}"></span>
                        </li>
                        <li th:if="${!enterpriseDetail.entUrl.isEmpty()}">
                            <i class="fa-sharp-duotone fa-solid fa-paperclip"></i>
                            <a id="entUrl" th:href="${enterpriseDetail.entUrl}" th:text="${enterpriseDetail.entUrl}" style="text-decoration: none; color: #1980EC;">웹사이트 방문하기</a>
                        </li>
                        <li th:if="${!enterpriseDetail.introduction.isEmpty()}">
                            <i class="fa-duotone fa-solid fa-house-chimney"></i>
                            <span id="introduction" th:text="${enterpriseDetail.introduction}"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab_inner" id="reviewTab">
                <button class="writeReviewBtn" id="writeReviewBtn">후기 작성</button>

                <!-- 리뷰가 존재하지 않을 때 대체 UI 표시 -->
                <div th:if="${#lists.isEmpty(reviews)}" class="no-review">
                    <img src="/images/enterprise/noReview.png" alt="No review content" style="width: 150px; height: auto; margin-bottom: 20px;">
                    <p>아직 작성된 후기가 없어요</p>
                </div>
                <!-- 리뷰가 있을 때 반복문으로 리뷰를 표시 -->
                <div th:each="review : ${reviews}" th:unless="${#lists.isEmpty(reviews)}" class="entReview">
                    <div class="review-details">
                        <span id="nickName" th:text="${review.nickName}" style="font-size: 1.2em; font-weight: bold;"></span>
<!--                        <span id="nickName" th:text="${review.nickName}"></span>-->
                        <span class="review-stars">
                            <span th:each="star : ${#numbers.sequence(1, review.rating.intValue())}">★</span>
                            <span th:if="${review.rating.intValue() < 5}" th:each="emptyStar : ${#numbers.sequence(1, 5 - review.rating.intValue())}">☆</span>
                        </span>
                        <span id="createdAt" th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd HH:mm')}">등록일자</span>
                    </div>
                    <div class="review-content" th:text="${review.reviewContent}">리뷰 내용</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 파일 업로드 폼 (팝업) -->
    <div id="uploadPopup" class="modal">
        <!-- 영수증 인증 영역 -->
        <div class="additional-content" id="ocrVerificationSection">
            <span class="closeBtn" id="closeBtn1">&times;</span>
            <form name="fileUploadFrm" method="post">
                <h2>영수증 인증</h2>
                <div id="apiUrl" th:data-url="@{/ocrUpload}"></div>
                <input type="file" name="file" accept="image/*" required/>
                <button type="submit" class="ocrSubmitBtn">인증하기</button>
            </form>
            <br>
            <span class="highlight">영수증 인증시 주의사항</span>
            <p>영수증 인식은 OCR 기술을 통해 읽은 문자와 숫자를 바로 보여주고 있습니다.<br>이 과정에서 다양한 문제로 영수증 인식이 실패될 수 있습니다.</p>

            <span style="font-weight:bold">올바른 영수증 촬영 방법</span>
            <ul class="warning-list">
                <li>영수증을 펼친 후, 영수증 전체가 잘 나오도록 정면에서 촬영</li>
                <li>배경에 다른 물체나 글씨가 없도록 촬영</li>
                <li>필수 정보(업체명, 전화번호, 사업자등록번호, 결제 일시, 승인번호 등)가 잘 나오도록 촬영</li>
            </ul>
            <span style="font-weight:bold">올바르지 못한 영수증 촬영 예시</span>
            <ul class="warning-list">
                <li>영수증의 일부만 나오는 경우</li>
                <li>복잡한 배경과 함께 찍은 경우</li>
                <li>손가락으로 영수증을 가린 경우</li>
                <li>기울어진 영수증 사진</li>
                <li>찢어지거나 구겨진 영수증</li>
                <li>영수증 여러 장을 겹쳐서 찍은 경우</li>
                <li>모니터에 있는 영수증을 촬영한 경우</li>
                <li>휴대폰에 있는 영수증을 촬영한 경우</li>
            </ul>
        </div>
    </div>

    <!-- 리뷰 작성 폼 -->
    <div id="reviewPopup" class="modal">
        <div class="additional-content">
            <span class="closeBtn" id="closeBtn2">&times;</span>
            <form class="reviewForm" action="#" method="post">
                <h2>리뷰 등록</h2>
                <span>다른 고객들을 위해 후기를 남겨주세요 👀</span><br>
                <div class="form-group">
                    <label for="starRate" id="starRate">별점 </label>
                    <div class="star-rating" id="starRatingContainer">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 stars">★</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 stars">★</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 stars">★</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 stars">★</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star">★</label>
                    </div>
                </div>
                <div class="form-group">
                    <textarea name="reviewContent" cols="30" rows="10" class="form-control" placeholder="자유롭게 작성하세요" required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="등록하기" class="reviewSubmitBtn" style="font-size: 16px">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script layout:fragment="js" th:src="@{/js/enterprise/detail.js}"></script>
</html>